<template>
  <svg height="100px" viewBox="-69 0 400 400" width="100px" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m108.921875 128.601562c-8.480469-6.78125-13.421875-17.054687-13.421875-27.914062v-24.808594h-14.953125c-4.9375 0-8.9375-4.003906-8.9375-8.9375v-57.265625c0-4.933593 4-8.9375 8.9375-8.9375h-61.3125c-4.933594 0-8.933594 4-8.933594 8.9375v57.265625c0 4.933594 4 8.933594 8.933594 8.933594h14.957031v24.8125c0 10.859375 4.9375 21.128906 13.417969 27.914062l89.273437 71.398438 30.65625-24.519531zm0 0"
      fill="#d4e1f4"
    />
    <path
      d="m71.609375 390.324219v-41.9375c0-4.933594 4-8.9375 8.9375-8.9375h15.953125v-43.050781c0-11.042969 5.105469-21.46875 13.835938-28.238282l57.5-44.605468-30.953126-23.554688-87.855468 68.15625c-8.726563 6.769531-13.835938 17.195312-13.835938 28.238281v43.054688h-15.957031c-4.933594 0-8.933594 4.003906-8.933594 8.9375v41.9375c0 4.933593 4 8.9375 8.933594 8.9375h61.3125c-4.933594 0-8.9375-4-8.9375-8.9375zm0 0"
      fill="#d4e1f4"
    />
    <path
      d="m131 210c-2.269531 0-4.472656-.769531-6.246094-2.191406l-85.121094-68.078125c-10.488281-8.347657-16.582031-21.027344-16.550781-34.425781v-37.484376c0-5.523437 4.476563-10 10-10 5.523438 0 10 4.476563 10 10v37.484376c-.015625 7.320312 3.3125 14.246093 9.039063 18.804687l78.878906 63.089844 78.878906-63.085938c5.726563-4.554687 9.054688-11.484375 9.039063-18.804687v-37.488282c0-5.523437 4.476562-10 10-10 5.523437 0 10 4.476563 10 10v37.484376c.03125 13.402343-6.0625 26.082031-16.550781 34.425781l-85.121094 68.078125c-1.773438 1.421875-3.976563 2.191406-6.246094 2.191406zm0 0"
      fill="#1ae5be"
    />
    <path
      d="m229.871094 343.132812c-5.523438 0-10-4.476562-10-10v-41.015624c-.023438-7.519532-3.53125-14.597657-9.5-19.167969l-79.3125-60.339844-77.699219 60.28125c-5.898437 4.546875-9.34375 11.578125-9.320313 19.027344v41.214843c0 5.523438-4.476562 10-10 10-5.523437 0-10-4.476562-10-10v-41.214843c-.042968-13.632813 6.265626-26.507813 17.0625-34.832031l83.769532-64.984376c3.578125-2.777343 8.578125-2.800781 12.183594-.058593l85.425781 64.992187c10.925781 8.359375 17.351562 21.324219 17.390625 35.082032v41.019531c0 5.519531-4.480469 9.996093-10 9.996093zm0 0"
      fill="#1ae5be"
    />
    <g fill="#0635c9">
      <path
        d="m261 18.519531c0-10.226562-8.292969-18.519531-18.519531-18.519531h-223.960938c-10.226562 0-18.519531 8.292969-18.519531 18.519531v39.960938c0 10.226562 8.292969 18.519531 18.519531 18.519531h223.960938c10.226562 0 18.519531-8.292969 18.519531-18.519531zm-19 38.480469h-222v-37h222zm0 0"
      />
      <path
        d="m261 341.519531c0-10.226562-8.292969-18.519531-18.519531-18.519531h-223.960938c-10.226562 0-18.519531 8.292969-18.519531 18.519531v39.960938c0 10.226562 8.292969 18.519531 18.519531 18.519531h223.960938c10.226562 0 18.519531-8.292969 18.519531-18.519531zm-19 38.480469h-222v-37h222zm0 0"
      />
    </g>
  </svg>
</template>

<script>
export default {};
</script>

<style>
</style>
