<template>
  <svg
    id="44583e6e-3c87-4cd0-878b-9f64620e8dae"
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="300"
    viewBox="0 0 1009.54 839.64"
  >
    <defs>
      <linearGradient
        id="c5138621-b397-4607-9afc-281d986fc27b"
        x1="378.01"
        y1="475.14"
        x2="378.01"
        y2="474.88"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="gray" stop-opacity="0.25" />
        <stop offset="0.54" stop-color="gray" stop-opacity="0.12" />
        <stop offset="1" stop-color="gray" stop-opacity="0.1" />
      </linearGradient>
      <linearGradient
        id="22049f4d-c06f-4634-a22a-fcd5b3beb851"
        x1="362.5"
        y1="612.82"
        x2="362.5"
        y2="216.23"
        xlink:href="#c5138621-b397-4607-9afc-281d986fc27b"
      />
    </defs>
    <title>order confirmed</title>
    <path
      d="M681.78,141.58c-64.72-2.25-126.36-23.14-185.22-46S379.4,47.39,316.23,35.28c-40.63-7.79-87.1-8.89-119.83,12.89-31.51,21-41.69,57.15-47.16,90.73-4.12,25.26-6.54,51.85,4.74,75.49,7.84,16.42,21.74,30.22,31.36,45.95,33.47,54.72,9.81,122.2-26.45,175.63-17,25.07-36.75,49-49.88,75.66s-19.2,57.25-7.71,84.47c11.38,27,38.51,47.24,67.9,61.49,59.69,28.95,130,37.23,198.61,41.92,151.83,10.39,304.46,5.89,456.69,1.39,56.34-1.67,112.92-3.36,168.34-12.07,30.78-4.84,62.55-12.51,84.9-31.05,28.36-23.53,35.39-63.37,16.38-92.88-31.88-49.49-120-61.78-142.31-114.89-12.26-29.24.33-61.8,18.16-88.92,38.24-58.16,102.33-109.19,105.7-175.67,2.32-45.66-28.49-91.39-76.13-113-49.93-22.64-119.18-19.8-156,17.69C805.59,128.71,738.93,143.56,681.78,141.58Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
      opacity="0.1"
    />
    <ellipse
      cx="483.49"
      cy="780.99"
      rx="303.97"
      ry="41.12"
      fill="#38d39f"
      opacity="0.1"
    />
    <rect
      x="642.8"
      y="289.82"
      width="8.86"
      height="73.02"
      rx="2.29"
      ry="2.29"
      fill="#3a3768"
    />
    <rect
      x="348.37"
      y="232.61"
      width="4.97"
      height="24.04"
      rx="2.29"
      ry="2.29"
      fill="#3a3768"
    />
    <rect
      x="348.19"
      y="276.63"
      width="5.6"
      height="41.84"
      rx="2.29"
      ry="2.29"
      fill="#3a3768"
    />
    <rect
      x="348.28"
      y="333.11"
      width="5.33"
      height="42.2"
      rx="2.29"
      ry="2.29"
      fill="#3a3768"
    />
    <rect
      x="351.18"
      y="153.17"
      width="296.4"
      height="602.39"
      rx="38.99"
      ry="38.99"
      fill="#3a3768"
    />
    <path
      d="M701,199H667v4.09a19.38,19.38,0,0,1-19.39,19.38H539.48a19.38,19.38,0,0,1-19.39-19.38V199H488.26a23.54,23.54,0,0,0-23.54,23.54V746.51a23.54,23.54,0,0,0,23.54,23.54H701a23.54,23.54,0,0,0,23.54-23.54V222.58A23.54,23.54,0,0,0,701,199Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <rect
      x="470.79"
      y="171.16"
      width="41.39"
      height="8.4"
      rx="3.87"
      ry="3.87"
      fill="#e6e8ec"
    />
    <circle cx="523.21" cy="175.36" r="4.77" fill="#e6e8ec" />
    <path
      d="M845.43,156.93s-84.2-5.08-74.28,53.92c0,0-2,10.43,7.48,15.16,0,0,.15-4.37,8.64-2.88a39.5,39.5,0,0,0,9.15.44A19.06,19.06,0,0,0,807.6,219h0s23.67-9.78,32.87-48.46c0,0,6.81-8.44,6.54-10.61L832.8,166s4.86,10.25,1,18.77c0,0-.46-18.4-3.19-18-.55.08-7.38,3.55-7.38,3.55s8.35,17.85,2.05,30.83c0,0,2.39-22-4.66-29.54l-10,5.84s9.76,18.44,3.14,33.49c0,0,1.7-23.08-5.25-32.07l-9.06,7.07s9.17,18.17,3.58,30.65c0,0-.73-26.86-5.54-28.89,0,0-7.93,7-9.14,9.86,0,0,6.28,13.2,2.38,20.16,0,0-2.39-17.9-4.35-18,0,0-7.9,11.86-8.72,20,0,0,.34-12.09,6.81-21.12,0,0-7.64,1.31-12.1,6.26,0,0,1.23-8.38,14.05-9.12,0,0,6.53-9,8.27-9.54,0,0-12.74-1.07-20.47,2.36,0,0,6.8-7.91,22.81-4.31l8.95-7.31s-16.78-2.29-23.9.24c0,0,8.19-7,26.31-1.9l9.74-5.82s-14.31-3.08-22.83-2c0,0,9-4.85,25.69.41l7-3.13s-10.48-2.06-13.55-2.39-3.23-1.17-3.23-1.17a36.35,36.35,0,0,1,19.69,2.19S845.68,157.86,845.43,156.93Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <path
      d="M759.06,130.69s-38-2.29-33.56,24.37c0,0-.89,4.71,3.38,6.85,0,0,.07-2,3.91-1.31a17.51,17.51,0,0,0,4.13.2,8.56,8.56,0,0,0,5.05-2.08h0s10.7-4.42,14.86-21.9c0,0,3.07-3.81,2.95-4.79l-6.42,2.74s2.19,4.63.47,8.48c0,0-.21-8.31-1.44-8.12-.25,0-3.34,1.61-3.34,1.61s3.78,8.07.93,13.93c0,0,1.08-9.94-2.11-13.35L743.35,140s4.41,8.33,1.42,15.13c0,0,.77-10.43-2.37-14.49l-4.09,3.2s4.14,8.21,1.62,13.85c0,0-.34-12.14-2.51-13.06,0,0-3.58,3.16-4.13,4.46,0,0,2.84,6,1.08,9.11,0,0-1.08-8.09-2-8.13,0,0-3.57,5.36-3.94,9a19.52,19.52,0,0,1,3.08-9.54,10.76,10.76,0,0,0-5.47,2.83s.56-3.79,6.35-4.12c0,0,3-4.07,3.74-4.32,0,0-5.76-.48-9.25,1.07,0,0,3.07-3.57,10.3-1.95l4-3.3s-7.59-1-10.8.11c0,0,3.7-3.16,11.89-.86l4.4-2.63s-6.47-1.39-10.32-.89c0,0,4.07-2.19,11.61.18l3.15-1.41s-4.74-.93-6.13-1.08-1.46-.53-1.46-.53a16.39,16.39,0,0,1,8.9,1S759.18,131.11,759.06,130.69Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <ellipse
      cx="864.17"
      cy="773.34"
      rx="26.93"
      ry="4.55"
      fill="#38d39f"
      opacity="0.1"
    />
    <ellipse
      cx="91.09"
      cy="810.68"
      rx="26.93"
      ry="4.55"
      fill="#38d39f"
      opacity="0.1"
    />
    <ellipse
      cx="195.26"
      cy="835.09"
      rx="26.93"
      ry="4.55"
      fill="#38d39f"
      opacity="0.1"
    />
    <ellipse cx="805.22" cy="822.1" rx="40.21" ry="6.8" fill="#38d39f" />
    <path
      d="M917.08,841.16a11.71,11.71,0,0,0,3.83-5.79c.5-2.29-.48-5-2.68-5.89-2.46-.94-5.09.77-7.08,2.49s-4.28,3.69-6.89,3.32a10.48,10.48,0,0,0,3.25-9.81,4.13,4.13,0,0,0-.91-2c-1.36-1.46-3.84-.84-5.47.32-5.2,3.65-6.65,10.72-6.68,17.07-.53-2.29-.08-4.68-.1-7s-.65-5-2.64-6.23a7.94,7.94,0,0,0-4-.94c-2.34-.09-4.94.15-6.54,1.86-2,2.12-1.46,5.68.26,8s4.35,3.81,6.77,5.42a15,15,0,0,1,4.83,4.61,4.16,4.16,0,0,1,.36.83H908A41.06,41.06,0,0,0,917.08,841.16Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <path
      d="M291.88,753.45s5.5,7.19-2.53,18-14.65,20-12,26.77c0,0,12.12-20.15,22-20.43S302.73,765.57,291.88,753.45Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <path
      d="M291.88,753.45a8.83,8.83,0,0,1,1.12,2.26c9.62,11.3,14.75,21.85,5.5,22.11-8.61.25-18.94,15.65-21.42,19.54.08.3.18.59.29.89,0,0,12.12-20.15,22-20.43S302.73,765.57,291.88,753.45Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M302.09,762.61c0,2.53-.28,4.58-.63,4.58s-.63-2.05-.63-4.58.35-1.34.7-1.34S302.09,760.08,302.09,762.61Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffd037"
    />
    <path
      d="M305.6,765.63c-2.22,1.21-4.16,1.94-4.32,1.63s1.49-1.54,3.71-2.75,1.35-.33,1.51,0S307.82,764.42,305.6,765.63Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffd037"
    />
    <path
      d="M262.87,753.45s-5.5,7.19,2.53,18,14.65,20,12,26.77c0,0-12.11-20.15-22-20.43S252,765.57,262.87,753.45Z"
      transform="translate(-95.23 -30.18)"
      fill="#38d39f"
    />
    <path
      d="M262.87,753.45a9,9,0,0,0-1.13,2.26c-9.62,11.3-14.74,21.85-5.5,22.11,8.62.25,18.95,15.65,21.43,19.54a7.76,7.76,0,0,1-.3.89s-12.11-20.15-22-20.43S252,765.57,262.87,753.45Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M252.65,762.61c0,2.53.29,4.58.64,4.58s.63-2.05.63-4.58-.35-1.34-.7-1.34S252.65,760.08,252.65,762.61Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffd037"
    />
    <path
      d="M249.15,765.63c2.22,1.21,4.15,1.94,4.32,1.63s-1.5-1.54-3.72-2.75-1.34-.33-1.51,0S246.93,764.42,249.15,765.63Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffd037"
    />
    <path
      d="M254.4,797.31s15.36-.48,20-3.77,23.63-7.24,24.77-1.95,23.09,26.29,5.75,26.43-40.3-2.7-44.92-5.51S254.4,797.31,254.4,797.31Z"
      transform="translate(-95.23 -30.18)"
      fill="#a8a8a8"
    />
    <path
      d="M305.22,816.18c-17.34.14-40.3-2.7-44.92-5.51-3.51-2.15-4.92-9.84-5.39-13.38l-.51,0s1,12.38,5.59,15.2,27.58,5.65,44.92,5.51c5,0,6.73-1.82,6.64-4.46C310.85,815.16,308.94,816.15,305.22,816.18Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.2"
    />
    <path
      d="M377.46,474.88a.92.92,0,0,0,1.09.14A3.86,3.86,0,0,1,377.46,474.88Z"
      transform="translate(-95.23 -30.18)"
      fill="url(#c5138621-b397-4607-9afc-281d986fc27b)"
    />
    <path
      d="M497.29,275.88c-2.11-.62-5.11-1.63-8.74-2.9a46.83,46.83,0,0,0,8.1-16.53l-.31.12c.1-.37.21-.73.31-1.1-6.94,2.86-14.63-2-19.52-8.21s-8.22-13.94-13.57-19.67a62.7,62.7,0,0,0-7.19-6.27c-1.58-1.24-3.29-2.53-5.22-2.59-3.12-.09-5.57,3-8.58,3.93a11.62,11.62,0,0,1-6-.22c-7.77-1.81-15.26-5.14-23.15-6a26.75,26.75,0,0,0-12.56,1.43c-4,1.54-5.8,4.59-9,7-3.47,2.62-10.38,2.56-14.47,3a103.62,103.62,0,0,1-14.94.63,33.88,33.88,0,0,0-8.6.32c-5.94,1.32-10.71,6.1-15.16,10.7a8,8,0,0,0-2.51,4,5.31,5.31,0,0,0,0,1.32,8.59,8.59,0,0,0,.6,3.5A46.41,46.41,0,0,0,342.48,260c1.82,2.64,3.93,5.12,5,8.24a16.23,16.23,0,0,1,.77,4.75,36.43,36.43,0,0,1-.53,5.11,65,65,0,0,1-3.85,13.59c-.94,2.32-2,4.63-2.25,7.17a12.94,12.94,0,0,0,0,1.52c-.3,7.83,7.51,13.48,9,21.27a14.19,14.19,0,0,1,.22,1.95c-.17,4.86-2.9,9.61-6.92,11.49.35.14.71.26,1.07.39a11.24,11.24,0,0,1-1.07.6c.73.28,1.48.52,2.24.74A52.62,52.62,0,0,0,334.75,351c-13.46,25.53-105.2,75.61-105.2,75.61s.52.29,1.36.79c-.34.21-.7.45-1.1.72-7.94,5.36-26.58,21-9.73,40.72,0,0,13.15-21.05,22.36-30,.42-.4.82-.77,1.21-1.12a2.73,2.73,0,0,1,.36,2.16l60.33-34.37s21.44-15.22,27.42-18.66c2.06-1.18,7.31-4.46,13.59-5.91l-.7.31a27.15,27.15,0,0,1,6.92-1c10.68.17,22.24,8.1,26.06,39.51,5.11,42.06,2.74,49.64,1.1,50.68a2.88,2.88,0,0,1-.6-.11.9.9,0,0,0,.16.12,2.9,2.9,0,0,1-.66-.12.92.92,0,0,0,.88.22.86.86,0,0,0,.67-.08h0l0,0c.23,0,.5,0,.81,0,0,.38-.06.78-.09,1.17-.08,0-.48.23,0,.26h0c-.12,2.37-.11,5,0,7.65-5.31.3-10.61.62-15.26.91l.42-2.23.19-1c4.07-.33,7.94-1.54,8.39-4.9,1-7.36-9-11.29-17.45-11.78s-59.33,2.95-59.33,2.95-7.63,10,16.56,13.11c.72.38,1.47.8,2.23,1.24,9.47,5.48,22.33,15.56,28.48,20.53l.86.69-2.76,2.23c15,3.44,29.42,61.38,37.39,87.89s25.43,25.53,39.89,21.61c13.55-3.69,15.28-43.58,15.44-48.59,0-.34,0-.51,0-.51l24.09,30.11,1.83,2.29c.71.37,1.4.72,2.08,1.05,18.25,8.81,38.41-8.07,32.67-27.27-5.79-19.4-14.79-48.07-20.79-60.19-5-10.15-11.51-27-15.45-37.58a13.85,13.85,0,0,0,1.49-.72s-.09-.47-.25-1.34l.25-.13s-5.8-30.55-6.12-52.24c0-.38,0-.76,0-1.14s0-.47,0-.71c4.36-1,7.12-1.4,7.12-1.4l.08-.94-.51.11,2.42-28.14s8.9-19.19,2.09-27.19a17,17,0,0,1-4-8.31c-1.14-7.36,0-19.61,15.87-29.8,24.43-15.71,33.91-28.48,33.91-28.48S512.25,280.3,497.29,275.88ZM448.77,295.4v-13c4.53-.22,9.16.31,13.71,0a34.57,34.57,0,0,0,6.62-1.12l1.1.77A120.72,120.72,0,0,1,448.77,295.4ZM379.51,499.21c1.79,1.26,3.59,2.57,5.36,3.88,1.1,6.41,2.07,10.94,2.14,11.25A90.24,90.24,0,0,0,379.51,499.21Z"
      transform="translate(-95.23 -30.18)"
      fill="url(#22049f4d-c06f-4634-a22a-fcd5b3beb851)"
    />
    <path
      d="M418.67,491l-1.08,5.86-.83,4.48-1.51,8.2-14.64,10.25s-1.32-1.13-3.5-2.91c-6-4.94-18.61-15-27.87-20.4a31.19,31.19,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffbdc6"
    />
    <path
      d="M418.67,491l-1.08,5.86a45.73,45.73,0,0,1-9.66-.5l-34.16.49c-1.61-.1-3.12-.22-4.53-.37a31.19,31.19,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M407.93,495.36S425,498.29,426,491s-8.79-11.23-17.08-11.72-58.07,2.93-58.07,2.93-8.78,11.71,22.93,13.67Z"
      transform="translate(-95.23 -30.18)"
      fill="#474463"
    />
    <path
      d="M418.67,491l-1.08,5.86-.83,4.48-1.51,8.2-14.64,10.25s-1.32-1.13-3.5-2.91c-6-4.94-18.61-15-27.87-20.4a31.19,31.19,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M418.67,491l-1.08,5.86a45.73,45.73,0,0,1-9.66-.5l-34.16.49c-1.61-.1-3.12-.22-4.53-.37a31.19,31.19,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M407.93,495.34s17.08,2.92,18.06-4.4-8.79-11.22-17.08-11.71-58.07,2.93-58.07,2.93-8.78,11.71,22.93,13.66Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <rect x="260.73" y="224.62" width="89.3" height="105.89" fill="#474463" />
    <rect x="260.73" y="225.1" width="89.3" height="105.89" opacity="0.1" />
    <path
      d="M251.3,436.07c-1.47.37-3.35,1.79-5.44,3.85-9,8.91-21.89,29.82-21.89,29.82-16.48-19.63,1.76-35.14,9.53-40.47,1.89-1.29,3.16-2,3.16-2Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffbdc6"
    />
    <path
      d="M417.69,288.22s4.39,30.74,19.52,38.06-19.52,21-19.52,21L370.36,329.7s26.84-8.79,21.47-34.65Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffbdc6"
    />
    <path
      d="M366.94,473.16,365.87,479,365,483.5l-1.51,8.2-14.64,10.24s-1.32-1.12-3.5-2.9c-6-4.94-18.61-15-27.88-20.4a31,31,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      fill="#ffbdc6"
    />
    <path
      d="M366.94,473.16,365.87,479a45.73,45.73,0,0,1-9.66-.5l-34.16.49c-1.61-.1-3.13-.22-4.54-.37a31,31,0,0,0-7.66-3.53Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M356.21,477.55s17.08,2.92,18.05-4.39-8.78-11.23-17.08-11.72-58.06,2.93-58.06,2.93-8.79,11.71,22.93,13.67Z"
      transform="translate(-95.23 -30.18)"
      fill="#474463"
    />
    <path
      d="M365,483.5l-1.51,8.2-14.64,10.24s-1.32-1.12-3.5-2.9l19.36-15.88Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M461.69,595.21c-.67-.33-1.34-.67-2-1l-1.8-2.27L434.28,562s0,.18,0,.52c-.16,5-1.86,44.62-15.12,48.28-14.15,3.9-31.22,4.88-39-21.47s-22-83.93-36.6-87.35l21.72-17.81s14.38,16.82,20.24,32.92c-.22-1-10.15-47.4-2-55.61h71.25s11,31.33,18.54,46.85c5.87,12.05,14.68,40.54,20.35,59.82C499.28,587.19,479.55,604,461.69,595.21Z"
      transform="translate(-95.23 -30.18)"
      fill="#474463"
    />
    <path
      d="M459.66,470.23c-11,6.51-59.29,3.86-75,2.8l-4.28-.31c-.46,0,.07-.26.07-.26l.44-4.43,11.71-29.76,62.7-36.36c-1.27,3.83-1.69,9.69-1.59,16.4C454,439.87,459.66,470.23,459.66,470.23Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M459.66,468.76c-11,6.51-59.29,3.86-75,2.8l-4.28-.3-.71-.06.78-.2,3.86-1,8.29-33.18,62.7-36.35c-1.27,3.83-1.69,9.69-1.59,16.4C454,438.41,459.66,468.76,459.66,468.76Z"
      transform="translate(-95.23 -30.18)"
      fill="#f2f1f2"
    />
    <path
      d="M453.67,416.85c-12.75,2.94-40.81,11.57-51.59,32.4-7.19,13.87-13.24,19.82-17.46,22.31l-4.28-.3a2.5,2.5,0,0,0,.07-.26l3.86-1,8.29-33.18,62.7-36.35C454,404.28,453.57,410.14,453.67,416.85Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M236.66,427.29l14.64,8.78c-1.47.37-3.35,1.79-5.44,3.85-1.22-3.56-8.88-8.53-12.36-10.65C235.39,428,236.66,427.29,236.66,427.29Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M377.73,471.83a.87.87,0,0,1-1-.14A3.47,3.47,0,0,0,377.73,471.83Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M410.86,324.33s-13.18,1.46-22.45-8.3c0,0-39,11.23-52.21,36.6s-103,75.15-103,75.15,15.62,8.78,14.15,13.17l59.05-34.16s21-15.12,26.83-18.54,38.07-24.4,44.9,32.69,0,50.26,0,50.26,9.76,3.42,23.91-23.91,58.06-33.67,58.06-33.67l2.44-28.78s8.71-19.08,2-27a17,17,0,0,1-3.91-8.26c-1.11-7.31,0-19.49,15.54-29.61,23.91-15.62,33.18-28.3,33.18-28.3s.49-9.28-14.15-13.67-74.17-28.3-74.17-28.3l-2,8.3L466,291.15s-23.42,19-42,18.54C424,309.69,427.45,323.84,410.86,324.33Z"
      transform="translate(-95.23 -30.18)"
      fill="#ff748e"
    />
    <path
      d="M419.9,301.6a95.3,95.3,0,0,1-2.7-11.92l-25.86,6.83a28.35,28.35,0,0,1-.59,14.92,27.81,27.81,0,0,0,29.15-9.83Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <circle cx="303.19" cy="252.92" r="27.81" fill="#ffbdc6" />
    <path
      d="M413.21,219.85c7.72.87,15.05,4.19,22.65,6a11.24,11.24,0,0,0,5.86.23c2.95-.92,5.35-4,8.41-3.91,1.88,0,3.55,1.34,5.1,2.57a61.75,61.75,0,0,1,7,6.24c5.24,5.69,8.49,13.35,13.27,19.54s12.32,11,19.11,8.16c-4.62,18-19.75,31.71-36.12,32.83-6.53.44-13.22-.92-19.54,1a17.26,17.26,0,0,1-4.93,1.2c-3.64,0-6.57-3.34-8.84-6.59-5.32-7.64-9.53-16.32-15.52-23.29-2-2.3-4.31-4.49-7.11-4.91s-5.37.91-7.86,2.2c-4.11,2.13-8.31,4.34-11.5,8s-5.2,9.1-3.88,14c.71,2.66,2.33,5.06,2.36,7.84.06,4.43-3.86,7.68-4.63,12a45.08,45.08,0,0,0-.19,5.46c-.34,5.92-4.21,10.77-8.25,14.49-1.58,1.45-3.32,3-3.78,5.24-.31,1.52,0,3.14-.2,4.68-.59,3.84-4.42,5.79-7.81,6.3a22.73,22.73,0,0,1-11.72-1.39c4.74-2.25,7.66-8.62,6.56-14.34-1.51-7.92-9.47-13.6-8.79-21.67a25.21,25.21,0,0,1,2.2-7.13,65.06,65.06,0,0,0,3.76-13.5c.6-3.58.89-7.37-.23-10.77-1-3.11-3.09-5.57-4.86-8.19a46.47,46.47,0,0,1-5.63-11.54,8,8,0,0,1-.54-3.81,7.84,7.84,0,0,1,2.45-4c4.35-4.57,9-9.33,14.83-10.63a32.93,32.93,0,0,1,8.42-.33,98,98,0,0,0,14.63-.62c4-.47,10.76-.4,14.15-3,3.16-2.43,4.94-5.46,8.83-7A25.82,25.82,0,0,1,413.21,219.85Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M428.67,507.07s16.1,31.72,11.22,41.47"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <path
      d="M457.86,591.9,434.28,562s0,.18,0,.52c0,0-1.36-9.68,3.13-6.43,9.84,7.12,25.58,18.79,25.92,20.8S460.14,586.93,457.86,591.9Z"
      transform="translate(-95.23 -30.18)"
      opacity="0.1"
    />
    <g opacity="0.1">
      <path
        d="M424.52,309.69s2,8.24-4.44,12.36c9.9-1.69,10.34-9.4,10-12.75A31.41,31.41,0,0,1,424.52,309.69Z"
        transform="translate(-95.23 -30.18)"
      />
      <path
        d="M239.1,425.82s89.78-49.77,103-75.14c9.45-18.21,32.23-29.13,44.33-33.85-8.82,3-38.54,14.31-49.7,35.8-13.17,25.37-103,75.15-103,75.15Z"
        transform="translate(-95.23 -30.18)"
      />
      <path
        d="M442,305.81c15.28-4.75,29.88-16.61,29.88-16.61L425,256l1.07-4.54-4.49-1.8-1.95,8.3,46.85,33.18A113.2,113.2,0,0,1,442,305.81Z"
        transform="translate(-95.23 -30.18)"
      />
      <path
        d="M442.27,418.26a116.55,116.55,0,0,1,18.36-4.64l.08-.94A124.5,124.5,0,0,0,442.27,418.26Z"
        transform="translate(-95.23 -30.18)"
      />
      <path
        d="M385.49,469.38h-.43a.88.88,0,0,1-1-.14,3.51,3.51,0,0,0,1,.14c1.6-.93,4-8.22-1-50.4-5.38-45-26.55-41.49-38.13-36.31,11.84-3.26,28.13-.44,32.76,38.26,5.05,42.18,2.64,49.47,1,50.4A10.81,10.81,0,0,0,385.49,469.38Z"
        transform="translate(-95.23 -30.18)"
      />
      <path
        d="M379.69,471.34a3.51,3.51,0,0,1-1-.14A.88.88,0,0,0,379.69,471.34Z"
        transform="translate(-95.23 -30.18)"
      />
    </g>
    <path
      d="M413.21,218.87c7.72.88,15.05,4.19,22.65,6a11.24,11.24,0,0,0,5.86.22c2.95-.91,5.35-4,8.41-3.91,1.88.06,3.55,1.34,5.1,2.57a62.73,62.73,0,0,1,7,6.24c5.24,5.69,8.49,13.35,13.27,19.54s12.32,11,19.11,8.16c-4.62,18-19.75,31.71-36.12,32.83-6.53.45-13.22-.91-19.54,1a16.93,16.93,0,0,1-4.93,1.2c-3.64,0-6.57-3.34-8.84-6.59-5.32-7.64-9.53-16.31-15.52-23.28-2-2.31-4.31-4.5-7.11-4.92s-5.37.92-7.86,2.21c-4.11,2.13-8.31,4.33-11.5,8s-5.2,9.09-3.88,14c.71,2.66,2.33,5.06,2.36,7.84.06,4.44-3.86,7.68-4.63,12a45,45,0,0,0-.19,5.46c-.34,5.92-4.21,10.76-8.25,14.49-1.58,1.44-3.32,3-3.78,5.23-.31,1.53,0,3.14-.2,4.69-.59,3.84-4.42,5.79-7.81,6.29a22.53,22.53,0,0,1-11.72-1.39c4.74-2.24,7.66-8.62,6.56-14.33-1.51-7.92-9.47-13.61-8.79-21.67a25.11,25.11,0,0,1,2.2-7.13,65.32,65.32,0,0,0,3.76-13.51c.6-3.57.89-7.36-.23-10.77-1-3.1-3.09-5.57-4.86-8.19a46.57,46.57,0,0,1-5.63-11.53,8.11,8.11,0,0,1-.54-3.82,7.88,7.88,0,0,1,2.45-3.95c4.35-4.57,9-9.32,14.83-10.63a33.38,33.38,0,0,1,8.42-.32,99.38,99.38,0,0,0,14.63-.62c4-.47,10.76-.41,14.15-3,3.16-2.42,4.94-5.46,8.83-7A26,26,0,0,1,413.21,218.87Z"
      transform="translate(-95.23 -30.18)"
      fill="#474463"
    />
    <circle cx="501.19" cy="461.76" r="56.07" fill="#fff" />
    <path
      d="M670.09,484.55a74.94,74.94,0,1,1-74.94-74.94A74.94,74.94,0,0,1,670.09,484.55Zm-83.6,39.67,55.59-55.59a4.83,4.83,0,0,0,0-6.84L635.24,455a4.82,4.82,0,0,0-6.83,0l-45.34,45.34L561.9,479.12a4.85,4.85,0,0,0-6.84,0L548.22,486a4.85,4.85,0,0,0,0,6.84l31.43,31.42a4.83,4.83,0,0,0,6.84,0Z"
      transform="translate(-95.23 -30.18)"
      fill="#3acc6c"
    />
  </svg>
</template>

<script>
export default {
    name: 'Success'
};
</script>

<style>
</style>
