<template>
  <main class="main">
    <Navbar />

    <div class="nav-margin">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <div class="mb-5">
              <b-progress
                :type="progress < 100 ? 'is-primary' : 'is-success'"
                :value="progress"
                size="is-small"
              ></b-progress>
            </div>
            <!-- <LoanAmount
              v-if="current === 0"
              :initialData="data"
              :loading="loading"
              :settings="settings"
              @done="next($event)"
            />-->
            <Profile
              v-if="current === 0"
              :initialData="data"
              @done="next($event)"
              @back="previous()"
              :isLoggedIn="isLoggedIn"
            />
            <Avatar
              v-if="current === 1"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Nok
              v-if="current === 2"
              :initialData="data"
              @done="next($event)"
              @back="previous()"
              :isLoggedIn="isLoggedIn"
            />
            <Account
              v-if="current === 3"
              :initialData="data"
              @done="next($event)"
              @back="previous()"
              :isLoggedIn="isLoggedIn"
            />
            <Question
              v-if="current === 4"
              :initialData="data"
              @done="next($event)"
              @back="previous()"
              :isLoggedIn="isLoggedIn"
            />
            <Fund
              v-if="current === 5"
              :initialData="data"
              :loading="loading"
              @done="submit($event)"
              @back="previous()"
              :isLoggedIn="isLoggedIn"
            />
            <Finish v-if="current === 6" :initialData="data" :isLoggedIn="isLoggedIn" />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Profile from "~/components/application/invest/Profile";
import Nok from "~/components/application/invest/Nok";
import Account from "~/components/application/invest/Account";
import Question from "~/components/application/invest/Question";
import Fund from "~/components/application/invest/Fund";
import Finish from "~/components/application/invest/Finish";
import Avatar from "~/components/application/invest/Avatar";

export default {
  name: "Application",

  components: {
    Navbar,
    Profile,
    Nok,
    Account,
    Question,
    Fund,
    Finish,
    Avatar
  },

  computed: {
    progress() {
      return ((this.current + 1) / 7) * 100;
    }
  },

  head() {
    return {
      title: "Start Investing"
    };
  },

  data() {
    return {
      current: 0,
      data: JSON.parse(
        JSON.stringify(this.$store.getters["application/invest"])
      ),
      loading: false,
      settings: {},
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false
    };
  },

  created() {
    const current = this.$store.getters["marketplace/current"];
    const investing = this.$store.getters["marketplace/investing"];
    if (investing) {
      this.data.investment.amount = current.REQUEST_PRINCIPAL;
      this.data.investment.duration = current.REQUEST_TENOR;
      this.data.request_id = current.REQUEST_ID;
    }
  },

  methods: {
    next(data) {
      if (data) this.data = data;
      this.current++;
    },

    previous() {
      this.current--;
    },

    async submit(data) {
      this.data = data;
      if (await this.apply(this.data)) this.next();
    },

    async apply(data) {
      // const reapplying = this.$store.state.auth.loggedIn;
      this.loading = true;
      try {
        const res = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/lender/apply",
          data
        });
        this.loading = false;
        if (res.data.status) {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-success",
            position: "is-top"
          });
          return true;
        } else {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message || res.data.error || "An error occurred",
            type: "is-success",
            position: "is-top"
          });
          return false;
        }
      } catch (err) {
        this.loading = false;
        console.log({ err });
      }
    },

    async getSettings() {
      this.loading = true;
      try {
        const {
          data: {
            data: {
              amount,
              interest,
              tenor: {
                type: [duration]
              },
              product: { LOAN_PRODUCT_ID, BASE_DURATION_TYPE }
            }
          }
        } = await this.$axios({
          method: "GET",
          url: "/loan/settings"
        });
        this.settings = {
          min: parseInt(amount.minimum, 10),
          max: parseInt(amount.maximum, 10),
          step: parseInt(amount.interval, 10),
          interest: parseInt(interest.rate, 10),
          duration,
          loan_product_id: LOAN_PRODUCT_ID,
          request_period_id: parseInt(BASE_DURATION_TYPE, 10)
        };
        this.loading = false;
      } catch (e) {
        this.loading = false;
        console.dir({ e });
      }
    }
  }
};
</script>
