<template>
  <main class="main">
    <Navbar />

    <!-- <b-loading v-if="network.loading" :is-full-page="true" :active="network.loading"></b-loading> -->

    <div class="nav-margin">
      <div class="container">
        <br />
        <br />

        <div class="pb-0">
          <b-tabs type="is-boxed" v-model="current">
            <b-tab-item label="Deposit"></b-tab-item>
            <b-tab-item label="Marketplace"></b-tab-item>
          </b-tabs>
        </div>

        <Deposit v-if="current === 0" :user="user" />
        <Marketplace v-if="current === 1" :user="user" />
      </div>

      <Footer />
    </div>
  </main>
</template>

<script>
import Navbar from "~/components/dashboard/invest/Navbar";
import Footer from "~/components/Footer";

import Marketplace from "~/components/dashboard/invest/Marketplace";
import Deposit from "~/components/dashboard/invest/Deposit";

export default {
  name: "Dashboard",

  components: {
    Navbar,
    Footer,
    Marketplace,
    Deposit
  },

  data() {
    return {
      user: this.$store.state.auth.user,
      current: 0
    };
  },

  middleware: "authenticated"
};
</script>

<style lang="scss" scoped>
.link {
  // min-height: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  &::before,
  &::after {
    content: none;
  }
  .icon {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .title {
    color: #666;
  }
  .name {
    font-size: 1rem;
    color: #666;
  }
  @media (max-width: 768px) {
    &-1,
    &-2 {
      padding: 0;
    }
  }
}

/deep/ .tabs.is-boxed li.is-active a {
  background: #7957d505;
}

/deep/ canvas {
  height: 270px !important;
}
</style>