<template>
  <main class="main">
    <Navbar />

    <section class="about-us spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="about-left">
              <div class="section-title">
                <h2>Institutional Investments</h2>
              </div>
              <p
                class="second-text pr-5"
              >For corporate bodies seeking to earn reliable, timely and periodic returns that can adjust to your needs, our platform was developed with you in mind. As an institutional lender you will be able to gain access to a pool of quality borrowers. Our platform affords the opportunity for institutions to responsibly take advantage of a bustling peer-to-peer loan market and generate even stronger returns over a given period.</p>

              <p
                class="second-text pr-5"
              >All that is required is that you simply register, sign-in and fund your wallet. Once your wallet is funded and your desired portfolio management style has been selected, it becomes automated and our systems and processes begin to take action according to your selection.</p>

              <nuxt-link to="/invest/apply">
                <b-button
                  type="is-primary"
                  size="is-medium"
                >Gain access to a steady, alternative investment</b-button>
              </nuxt-link>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="about-img">
                  <img src="/img/invest.jpg" alt />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";

export default {
  name: "InvestInstitution",

  components: {
    Navbar,
    Footer
  },

  head() {
    return {
      title: "Investing with Sycamore - Institutions"
    };
  }
};
</script>

<style lang="scss" scoped>
.about-us .about-img {
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 100%;
  }
}
</style>