<template>
  <main class="main">
    <Navbar />

    <section class="about-us spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="about-left">
              <div class="section-title">
                <h2>Investing with Sycamore</h2>
              </div>
              <p
                class="second-text pr-5"
              >Investing through our peer to peer lending platform is quite easy and straightforward. You simply click the button below, follow the instructions, fund your wallet, and watch your funds earn interest for you while you relax.</p>

              <nuxt-link to="/invest/apply">
                <b-button type="is-primary" size="is-medium">Start investing</b-button>
              </nuxt-link>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="about-img">
                  <!-- <img src="/img/about/about-1.jpg" alt="" /> -->
                  <img src="/img/invest.jpg" alt />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section bg-lightblue" id="faq">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-start justify-content-center mt-6 mb-0">
            <div class="about-pic mt-5">
              <img src="/img/faq.png" alt="FAQ" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <div class="section-title">
                <!-- <span>Welcome to Sycamore</span> -->
                <h2>Frequently Asked Questions</h2>
              </div>

              <h2
                class="title is-5 text-danger font-weight-bold mb-4 m-2"
              >More about lending and investing with Sycamore.</h2>
              <div class="accordion" id="accordionExample">
                <div class="card" v-for="(faq, i) in faqs" :key="i">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      :data-target="'#collapse'+i"
                    >{{ faq.q }}</h2>
                  </div>

                  <div :id="'collapse'+i" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                      <p>{{ faq.a }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <nuxt-link to="/faq" class="d-block mt-4">
                <b-button type="is-danger" size="is-medium" outlined>View more</b-button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";

const faqs = [
  {
    q: "How do I invest/lend with sycamore?",
    a:
      "Simply click on the “Start Investing” button above, and follow the instructions by providing the relevant information. You will need to fund your wallet using your debit card. Alternatively, you can make a direct transfer to our bank account (GT Bank - SIS Ltd/Partners Wallet - 0488435962, Zenith Bank - Sycamore Int. Sol. Ltd - Partners Wallet - 1016987105, Access Bank - Sycamore Int. Sol. Ltd - Partners Wallet - 1237855667) to fund you wallet. Please send an email to info@sycamore.ng or call 08097341810 if you have any questions."
  },
  {
    q: "What are the minimum and maximum amounts I can lend?",
    a:
      "The minimum amount you can lend is N100,000 (one hundred thousand naira only). There is no maximum amount."
  },
  {
    q: "Is my money safe with you?",
    a:
      "Lending to us is a safe bet as your money is covered under our insurance policy, and backed by security. We have also obtained a lending license from the Lagos State Government authority. Most importantly, we have never defaulted on payout to date."
  },
  {
    q: "If I want to liquidate, how long is going to be to get my money?",
    a:
      "You will receive your money 24 hours after your request has been received. Please ensure that all requests are sent via email to info@sycamre.ng"
  }
];

export default {
  name: "InvestOverview",

  components: {
    Navbar,
    Footer
  },

  head() {
    return {
      title: "Investing with Sycamore - Individuals"
    };
  },

  data: () => ({ faqs })
};
</script>

<style lang="scss" scoped>
.about-us .about-img {
  margin-bottom: 30px;
  height: 300px;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 100%;
  }
}
</style>