<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your account information</h4>
      <p class="subtitle is-6 pt-2">All field are required</p>

      <div class="notification is-primary" v-if="validating">Validating bank account...</div>

      <form action class="mt-5" @input="handleInput($event)">
        <b-field
          label="BVN"
          label-position="inside"
          :type="messages.bvn && 'is-danger'"
          :message="messages.bvn"
        >
          <b-input
            size="is-medium"
            v-model.trim="data.account.bvn"
            name="bvn"
            :disabled="validating"
          ></b-input>
        </b-field>

        <b-field
          label="Bank"
          label-position="inside"
          :type="messages.bank && 'is-danger'"
          :message="messages.bank"
        >
          <b-select
            placeholder="Select bank"
            size="is-medium"
            class="b-select"
            :value="data.account.bank"
            name="bank"
            :disabled="validating"
            @input.native="($event) => { data.account.bank = $event.target.value }"
          >
            <option disabled v-if="loadingBanks" key="99999">Loading..</option>
            <option :value="bank.id" v-for="bank in banks" :key="bank.id">
              {{
              bank.name
              }}
            </option>
          </b-select>
        </b-field>

        <b-field
          label="Account number"
          label-position="inside"
          :type="messages.number && 'is-danger'"
          :message="messages.number"
        >
          <b-input
            size="is-medium"
            type="number"
            v-model.trim="data.account.number"
            name="number"
            :disabled="validating"
          ></b-input>
        </b-field>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="!validating && $emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="!validating && submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Account",

  props: {
    initialData: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      data: this.initialData,
      banks: [],
      loadingBanks: false,
      validating: false,
      messages: {}
    };
  },

  methods: {
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    async submit() {
      const fields = ["number", "bvn", "bank"];
      const {
        data: { account, profile }
      } = this;
      this.messages = validateAll(fields, account);
      if (!Object.keys(this.messages).length) {
        this.validating = true;
        const accountValid = await this.validateAccount(
          account.bank,
          account.number
        );
        this.validating = false;
        if (accountValid) this.$emit("done", this.data);
      }
    },
    async getBanks() {
      this.loadingBanks = true;
      const res = await this.$axios.get("/banks");
      this.loadingBanks = false;
      return (res.data.data || []).sort((a, b) => (a.name > b.name ? 1 : -1));
    },
    async validateAccount(id, account_number) {
      const bank_code = this.banks.find(bank => bank.id === id).bank_code;

      try {
        const res = await this.$axios({
          method: "POST",
          url: "/account/resolve",
          data: { account_number, bank_code }
        });
        if (res.data.status === "success") {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            // message: `Account Name: ${res.data.data.account_name}`,
            message: "Account Verified!",
            type: "is-success",
            position: "is-top"
          });
          return res.data.data.account_name;
        } else {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-danger",
            position: "is-top"
          });
          return false;
        }
      } catch (error) {
        console.log("Error", error);
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Error validating account, please try again",
          type: "is-danger",
          position: "is-top"
        });
        return false;
      }
    },
    async validateBVN(bvn, fullname, dob, phone) {
      const date_of_birth = `${dob.getFullYear()}-${dob.getMonth() +
        1}-${dob.getDate()}`;
      try {
        const res = await this.$axios({
          method: "POST",
          url: "/verify_bvn",
          data: { full_name: fullname, bvn, date_of_birth, phone }
        });
        if (res.data.status) {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: "BVN Verified!",
            type: "is-success",
            position: "is-top"
          });
          return true;
        } else {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-danger",
            position: "is-top"
          });
          return false;
        }
      } catch (error) {
        console.log("Error", error);
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Error verifying BVN, please try again",
          type: "is-danger",
          position: "is-top"
        });
        return false;
      }
    }
  },

  async created() {
    this.banks = await this.getBanks();
  }
};
</script>
