<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Upload your profile picture</h4>
      <p class="subtitle is-6">This section is mandatory</p>

      <div class="wrap">
        <div class="image">
          <img
            :src="url || 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'"
            alt="Placeholder"
          />
        </div>
        <b-field class="file mt-4">
          <b-upload v-model="file" @input="handleChange">
            <a class="button is-light">
              <b-icon icon="upload"></b-icon>
              <span>Click to {{ url ? 'change' : 'upload'}}</span>
            </a>
          </b-upload>
          <!-- <span class="file-name" v-if="file">{{ file.name }}</span> -->
        </b-field>
      </div>
      <!-- <div class="mt-5 d-flex justify-content-between">
        <b-button type="is-light" @click="$emit('back')">Back</b-button>
        <b-button type="is-info" @click="submit()">Next</b-button>
      </div>-->
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>

    <b-loading v-if="loading" :is-full-page="false" :active="loading"></b-loading>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Profile",

  props: {
    initialData: {
      type: Object,
      required: true
    },
    isLoggedIn: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      file: null,
      loading: false,
      filename: null,
      url: null
    };
  },

  methods: {
    setUrl(filename) {
      this.filename = filename;
      this.url = `http://res.cloudinary.com/africacodes-concepts-limited/image/upload/v1507561173/${filename}`;
    },
    submit() {
      if (!this.url)
        return this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Please upload your profile picture",
          type: "is-error",
          position: "is-top"
        });
      this.$emit("done", { ...this.initialData, avatar: this.filename });
    },
    async handleChange(file) {
      if (!this.beforeUpload(file)) return;
      this.loading = true;
      const { status, filename } = await this.upload(file);
      if (status) {
        this.setUrl(filename);
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Profile picture uploaded successfully",
          type: "is-success",
          position: "is-top"
        });
      }
      this.loading = false;
    },
    beforeUpload(file) {
      const isType = file.type === "image/jpeg" || file.type === "image/png";
      if (!isType)
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "You can only upload JPEG or PNG files!",
          type: "is-error",
          position: "is-top"
        });
      return isType;
    },
    async upload(file) {
      try {
        if (!file) return;
        const formData = new FormData();
        formData.append("file", file);
        const res = await this.$axios({
          method: "POST",
          url: "/upload/image",
          data: formData
        });
        this.filename = res.data.data.filename;
        return { status: res.data.status, filename: res.data.data.filename };
      } catch (err) {
        console.dir(err);
        this.$message.error(
          err.response.data.error || "Upload failed, please try again"
        );
      }
    }
  },

  async created() {
    const { avatar } = this.initialData;
    if (avatar) this.setUrl(avatar);
  }
};
</script>

<style lang="scss" scoped>
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}
.image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>