<template>
  <div class="card mb-5">
    <div class="card-content text-center">
      <Success />
      <h4 class="title is-4 mt-5">Application successful</h4>
      <p class="subtitle is-6 pt-2 mt-2 mb-4 w-75 mx-auto">
        Your application is currently under review, you will likely be funded in
        the next hour!
      </p>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="login()">
        Go to dashboard
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import Success from "~/components/svg/Success";

export default {
  name: "Finish",

  components: { Success },

  props: {
    initialData: {
      type: Object,
      required: true
    },
    isLoggedIn: Boolean
  },

  data() {
    return {
      data: this.initialData
    };
  },

  methods: {
    async login() {
      if (this.isLoggedIn) {
        return this.$router.push("/invest/dashboard");
      }
      const { email, password } = this.data.profile;
      try {
        const res = await this.$axios({
          method: "POST",
          url: "/user/authenticate_with_login",
          data: { email, password }
        });
        if (res.data.status) {
          this.$store.commit("auth/SET", { key: "user", value: res.data.data });
          this.$store.commit("auth/SET", { key: "loggedIn", value: true });
          this.$store.commit("auth/SET", {
            key: "redirect",
            value: "/invest/dashboard"
          });
        } else {
          this.$message.error(res.data.message);
        }
      } catch (e) {
        console.log({ e });
      }
    }
  }
};
</script>
