<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Fund your wallet</h4>
      <p class="subtitle is-6 pt-2">This is required to process this application</p>

      <div v-if="skip" class="mt-5">
        <ul class="list-group">
          <li class="list-group-item">GT Bank - SIS Ltd/Partners Wallet - 0488435962</li>
          <li
            class="list-group-item"
          >Zenith Bank - Sycamore Int. Sol. Ltd - Partners Wallet - 1016987105</li>
          <li
            class="list-group-item"
          >Access Bank - Sycamore Int. Sol. Ltd - Partners Wallet - 1237855667</li>
        </ul>
        <div
          class="mt-4 mb-4"
        >To fund your wallet manually, make a deposit of the specified amount to any of the banks above. Contact us through email to confirm your deposit</div>
      </div>

      <div v-else class="d-flex flex-column align-items-center mt-5">
        <div class="round-icon">
          <i class="fas fa-wallet"></i>
        </div>
        <h3 class="title is-4 m-0 mt-2">&#8358; {{ data.investment.amount }}</h3>
        <small
          class="w-75 text-center mt-3 mb-3"
        >Go back to the previous page if you wish to change the amount</small>
        <Pay
          v-if="!data.paystack"
          text="Fund wallet"
          :amount="data.investment.amount"
          :email="data.profile.email"
          @done="paymentDone($event)"
        />
        <button v-else class="button is-success" disabled>
          <i class="fas fa-check mr-2"></i> Wallet funded
        </button>
        <br />
        <br />
      </div>

      <div class="text-center mt-5" v-if="!data.paystack">
        <div class="field">
          <b-checkbox v-model="skip">I will fund my wallet manually</b-checkbox>
        </div>
      </div>
    </div>

    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Finish
        <i class="fa fa-flag ml-3"></i>
      </a>
    </footer>

    <b-loading v-if="loading" :is-full-page="false" :active="loading"></b-loading>
  </div>
</template>

<script>
import CreditCard from "~/components/CreditCard";
import CardIframe from "~/components/CardIframe";
import Pay from "~/components/Pay";

export default {
  name: "Card",

  components: {
    CreditCard,
    CardIframe,
    Pay
  },

  props: {
    initialData: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean
    }
  },

  data() {
    return {
      data: this.initialData,
      addingCard: false,
      cardAdded: false,
      skip: false
    };
  },

  methods: {
    openAddCard() {
      this.addingCard = true;
    },
    closeAddCard() {
      this.addingCard = false;
    },
    paymentDone(paystack) {
      this.data = { ...this.data, paystack };
      this.submit();
    },
    submit() {
      if (!this.data.paystack && !this.skip)
        return this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Please fund your wallet to proceed!",
          type: "is-danger",
          position: "is-top"
        });
      this.$emit("done", this.data);
    }
  }
};
</script>
