<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your personal information</h4>
      <p class="subtitle is-6 pt-2">All fields are required</p>

      <form class="mt-5" @input="handleInput($event)">
        <div class="title is-4 text-center"></div>
        <b-field
          label="First name"
          label-position="inside"
          :type="messages.firstname && 'is-danger'"
          :message="messages.firstname"
        >
          <b-input
            size="is-medium"
            v-model.trim="data.profile.firstname"
            name="firstname"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Last name"
          label-position="inside"
          :type="messages.lastname && 'is-danger'"
          :message="messages.lastname"
        >
          <b-input
            size="is-medium"
            v-model.trim="data.profile.lastname"
            name="lastname"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Email"
          label-position="inside"
          :type="messages.email && 'is-danger'"
          :message="messages.email"
        >
          <b-input
            size="is-medium"
            type="email"
            v-model.trim="data.profile.email"
            name="email"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Phone number"
          label-position="inside"
          :type="messages.phone && 'is-danger'"
          :message="messages.phone"
        >
          <b-input
            size="is-medium"
            type="number"
            v-model.trim="data.profile.phone"
            name="phone"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Date of birth"
          label-position="inside"
          :type="messages.date_of_birth && 'is-danger'"
          :message="messages.date_of_birth"
        >
          <b-datepicker
            size="is-medium"
            placeholder="Click to select..."
            icon="calendar-today"
            v-model.trim="data.profile.date_of_birth"
            name="date_of_birth"
            :disabled="isLoggedIn"
          ></b-datepicker>
        </b-field>

        <b-field
          label="Address"
          label-position="inside"
          :type="messages.address && 'is-danger'"
          :message="messages.address"
        >
          <b-input size="is-medium" type="text" v-model.trim="data.profile.address" name="address"></b-input>
        </b-field>

        <b-field
          v-if="!isLoggedIn"
          label="Password"
          label-position="inside"
          :type="messages.password && 'is-danger'"
          :message="messages.password"
        >
          <b-input
            size="is-medium"
            value="123"
            type="password"
            password-reveal
            v-model.trim="data.profile.password"
            name="password"
          ></b-input>
        </b-field>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Profile",

  props: {
    initialData: {
      type: Object,
      required: true
    },
    isLoggedIn: Boolean
  },

  data() {
    return {
      data: this.initialData,
      messages: {},
      states: [],
      loadingStates: false
    };
  },

  methods: {
    async getStates() {
      this.loadingStates = true;
      const res = await this.$axios.get("/states");
      this.loadingStates = false;
      return res.data.data;
    },
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = [
        "firstname",
        "lastname",
        "email",
        "phone",
        "address",
        "password",
        "date_of_birth"
      ].filter(field =>
        this.isLoggedIn
          ? !field.match(/fullname|email|phone|dob|password/)
          : true
      );
      const {
        data: { profile }
      } = this;
      this.messages = validateAll(fields, profile);
      if (!Object.keys(this.messages).length) this.$emit("done", this.data);
    }
  },

  async created() {
    if (this.data.profile.date_of_birth) {
      this.data = {
        ...this.data,
        profile: {
          ...this.data.profile,
          date_of_birth: new Date(this.data.profile.date_of_birth)
        }
      };
    }
    this.states = await this.getStates();
  }
};
</script>
