<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your lending information</h4>
      <p class="subtitle is-6 pt-2">All fields are required</p>

      <form class="mt-5" @input="handleInput($event)">
        <div class="title is-4 text-center"></div>

        <div class="mb-4">
          <div class="field">
            <b-radio
              v-model="data.investment.manager"
              native-value="1"
            >Let Sycamore manage all my investments</b-radio>
          </div>
          <div class="field">
            <b-radio
              v-model="data.investment.manager"
              native-value="0"
              type="is-info"
            >I will manage my investments myself</b-radio>
          </div>
        </div>

        <hr />

        <b-field
          label="How much are you looking to lend?"
          label-position="inside"
          :type="messages.amount && 'is-danger'"
          :message="messages.amount"
        >
          <b-input
            size="is-medium"
            type="number"
            v-model.number="data.investment.amount"
            name="amount"
            :disabled="data.paystack"
          ></b-input>
        </b-field>

        <div v-if="data.investment.manager === '1'">
          <b-field
            label="For how long?"
            label-position="inside"
            :type="messages.duration && 'is-danger'"
            :message="messages.duration"
          >
            <b-select
              placeholder="Select duration"
              size="is-medium"
              class="b-select"
              :value="data.investment.duration"
              name="duration"
              @input.native="($event) => { data.investment.duration = $event.target.value }"
            >
              <option :value="i" v-for="i in 12" :key="i">{{ i }} month(s)</option>
            </b-select>
          </b-field>

          <b-field
            v-if="!$store.getters['marketplace/investing']"
            label="How would you like your interest payment?"
            label-position="inside"
            :type="messages.interest_mode && 'is-danger'"
            :message="messages.interest_mode"
          >
            <b-select
              placeholder="Select one"
              size="is-medium"
              class="b-select"
              :value="data.investment.interest_mode"
              name="interest_mode"
              @input.native="($event) => { data.investment.interest_mode = $event.target.value }"
            >
              <option value="1">As an upfront bulk payment, subject to a discount</option>
              <option value="2">In equal monthly instalments spread over the tenor</option>
              <option value="3">In bulk, along with the principal at maturity</option>
            </b-select>
          </b-field>
        </div>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Question",

  props: {
    initialData: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      data: this.initialData,
      messages: {}
    };
  },

  methods: {
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = ["amount", "duration", "interest_mode"]
        .filter(field =>
          this.$store.getters["marketplace/investing"]
            ? !field.match(/interest_mode/)
            : true
        )
        .filter(field =>
          this.data.investment.manager === "0"
            ? !field.match(/duration|interest_mode/)
            : true
        );
      const {
        data: { investment }
      } = this;
      this.messages = validateAll(fields, investment);
      if (!Object.keys(this.messages).length) this.$emit("done", this.data);
    }
  }
};
</script>
