<template>
  <div>
    <div class="columns">
      <div class="column is-one-quarter">
        <UserDetails class="h-100" :user="user" />
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="card details">
              <div class="card-body text-center py-2">
                <DepositStats :loading="network.loading" :data="data" />
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="link card cursor-pointer" @click="reapply()">
              <div class="icon text-primary">
                <i class="fa fa-plus"></i>
              </div>
              <div class="name text-center">New Investment</div>
            </div>
          </div>
        </div>
        <div class="columns" v-if="user">
          <div class="column is-one-third">
            <CreditCard
              :card="{
                    last4: user.request.card && user.request.card.last4,
                    exp: user.request.card && user.request.card.expiry_date
                  }"
              :maxWidth="false"
            />
          </div>

          <div class="column" v-if="user.account.number">
            <BankAccount :account="user.account" />
          </div>

          <div class="column cursor-ban">
            <div class="link card">
              <div class="icon text-warning">
                <i class="fa fa-download"></i>
              </div>
              <div class="name text-center">
                Download
                <br />statetment
              </div>
            </div>
          </div>

          <nuxt-link class="column cursor-pointer" to="/marketplace">
            <div class="link card">
              <div class="icon text-success">
                <i class="fa fa-shopping-bag"></i>
              </div>
              <div class="name text-center">
                Goto
                <br />Marketplace
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <div class="card">
          <div class="card-body">
            <pie-chart :data="chartData" :options="chartOptions" />
          </div>
        </div>
      </div>
      <div class="column">
        <TransactionDetails />
      </div>
    </div>
    <br />
    <br />

    <b-modal
      :active.sync="isHistoryModalVisible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      @close="closeHistory"
    >
      <TransactionHistory />
    </b-modal>
  </div>
</template>

<script>
import CreditCard from "~/components/CreditCard";
import BankAccount from "~/components/BankAccount";
import LoanDetails from "~/components/LoanDetails";
import TransactionHistory from "~/components/modals/TransactionHistory";
import TransactionDetails from "~/components/dashboard/invest/TransactionDetails";
import DepositStats from "~/components/dashboard/invest/DepositStats";
import UserDetails from "~/components/UserDetails";
import network from "~/mixins/network";

export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },

  mixins: [network],

  components: {
    CreditCard,
    BankAccount,
    LoanDetails,
    TransactionHistory,
    TransactionDetails,
    UserDetails,
    DepositStats
  },

  data() {
    return {
      data: this.$store.getters["dashboard/invest"],
      isHistoryModalVisible: false,
      cancelling: false,
      chartData: {
        labels: ["January", "February"],
        datasets: [
          {
            label: "Data One",
            backgroundColor: "#f87979",
            data: [40, 20]
          }
        ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false
      },
      current: 0
    };
  },

  methods: {
    async getData() {
      try {
        const { user_id } = this.$store.state.auth.user.profile;
        this.network.loading = true;
        const token = localStorage.getItem("token");
        const res = await this.$axios({
          method: "POST",
          url:
            "https://mobile.creditclan.com/api/v3/lender/investmentdashboard",
          data: { token }
        });
        this.data = res.data.data;
        this.$store.commit("dashboard/setInvest", this.data);
        this.network.loading = false;
      } catch (error) {
        console.dir({ error });
      }
    },

    openHistory() {
      this.isHistoryModalVisible = true;
    },

    closeHistory() {
      this.isHistoryModalVisible = false;
    },

    reapply() {
      const { user } = this.$store.state.auth;
      const data = {};
      const { profile, account, home_address, next_of_kin } = user;
      data.avatar = profile.file_name;
      data.profile = {
        email: profile.email,
        firstname: profile.full_name.split(" ")[1],
        lastname: profile.full_name.split(" ")[0],
        phone: profile.phone,
        state: home_address.state_id,
        address: home_address.address,
        date_of_birth:
          profile.date_of_birth !== "//"
            ? new Date(profile.date_of_birth)
            : null
      };
      data.nok = {
        fullname: next_of_kin.full_name,
        email: next_of_kin.email,
        phone: next_of_kin.phone,
        address: next_of_kin.address,
        relationship: next_of_kin.relationship
      };
      data.account = {
        name: account.account_name,
        number: account.account_no,
        bank: account.id,
        bvn: account.bvn
      };
      data.investment = {};
      this.$store.commit("application/setInvest", {
        ...data,
        user_id: profile.user_id
      });
      this.$router.push("/invest/apply");
    }
  },

  created() {
    if (!this.data) this.getData();
  }
};
</script>

<style>
</style>