<template>
  <div style="height: 130px" v-if="loading">
    <b-loading :is-full-page="false" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
  <div class="d-flex justify-content-around align-items-center flex-column flex-md-row" v-else>
    <div class="owing">
      <div class="label">Total Invested</div>
      <div class="value">{{ data.total_lent | currency }}</div>
    </div>
    <div class="owing">
      <div class="label">Total Interest Earned</div>
      <div class="value">{{ data.total_interests_on_investments | currency }}</div>
    </div>
    <div class="owing">
      <div class="label">Current Balance</div>
      <div class="value">{{ data.total_investment_balance | currency }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    loading: Boolean,
    data: Object
  }
};
</script>

<style>
</style>