<template>
  <header class="header-section">
    <div class="container h-100">
      <div class="inner-header">
        <div class="logo h-100">
          <nuxt-link to="/" class="h-100 d-flex align-items-center">
            <img src="/img/logo-colored.png" alt="Logo" />
          </nuxt-link>
          <button class="btn btn-outline-secondary mobile-menu-toggle" @click="toggleMobileMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="mobile-collapse flex-grow-1 d-flex justify-content-between" ref="collapse">
          <div></div>
          <nav class="main-menu mobile-menu h-100">
            <ul class="h-100">
              <li class="h-100 d-inline-flex align-items-center" v-if="auth.loggedIn">
                <nuxt-link to="/borrow/dashboard" class="d-flex flex-column">
                  <b-button>Switch to borrower</b-button>
                </nuxt-link>
              </li>
            </ul>
          </nav>

          <nav class="main-menu mobile-menu h-100 small">
            <ul class="h-100">
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/marketplace">Marketplace</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/faq">FAQ</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/contact">Contact us</nuxt-link>
              </li>
              <li
                v-if="auth.loggedIn"
                class="h-100 d-inline-flex align-items-center cursor-pointer pl-3"
              >
                <b-dropdown aria-role="list" position="is-bottom-left">
                  <div class="d-flex align-items-center" slot="trigger">
                    <div class="avatar">
                      <img
                        :src="
                      $store.state.auth.user.profile
                        ? $store.state.auth.user.profile.profile_image
                        : ''
                    "
                        alt="Avatar"
                      />
                    </div>
                    <b-icon pack="fas" icon="caret-down"></b-icon>
                  </div>
                  <b-dropdown-item aria-role="listitem" @click="logout()">
                    <i class="fa fa-power-off mr-2"></i> Logout
                  </b-dropdown-item>
                </b-dropdown>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <!-- <nuxt-link to="/"></nuxt-link> -->
                <span></span>
              </li>
            </ul>
          </nav>
          <!-- <div id="mobile-menu-wrap"></div> -->
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "BorrowerNavbar",

  data() {
    return {
      auth: this.$store.state.auth,
      page: null
    };
  },

  beforeCreate() {
    this.page = this.$route.name;
  },

  watch: {
    $route() {
      this.page = this.$route.name;
    }
  },

  methods: {
    logout() {
      this.$store.commit("auth/SET", { key: "loggedIn", value: false });
      this.$store.commit("auth/SET", { key: "user", value: null });
      // this.$store.commit("loan/SET", { key: "current", value: {} });
      this.$store.commit("application/updateData", {});
      this.$store.commit("dashboard/clear");
      localStorage.clear();
    },
    toggleMobileMenu() {
      this.$refs.collapse.style.height =
        `${this.$refs.collapse.style.height}`.replace("px", "") > 0
          ? 0
          : `${this.$refs.collapse.scrollHeight}px`;
    }
  }
};
</script>
