<template>
  <div>
    <div class="card details">
      <div style="height: 200px" v-if="network.loading">
        <b-loading :is-full-page="false" :active.sync="network.loading" :can-cancel="false"></b-loading>
      </div>
      <div class="card-body" v-if="data">
        <div class="d-flex justify-content-between align-items-center">
          <div class="owing">
            <b-tag rounded>Wallet Balance</b-tag>
            <div class="value">{{ data.balance | currency }}</div>
          </div>
          <div>
            <b-button class="mb-2 mr-2" type="is-danger" @click="openModal('withdraw')">Withdraw</b-button>
            <b-button class="mb-2" type="is-success" @click="openModal('fund')">Fund wallet</b-button>
          </div>
        </div>
        <div class="items">
          <div class="subtitle is-6 mb-3 mt-2 font-weight-bold text-muted">History</div>
          <div class="item" v-for="t in data.recent_transactions" :key="t.TRANS_DATE">
            <div class="icon">
              <i class="fas fa-money-bill-wave"></i>
            </div>
            <div class="d-flex justify-content-between">
              <div class="value">{{ t.TRANS_AMOUNT | currency }}</div>
              <div class="value">{{ formatDate(t.TRANS_DATE) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal
      :active.sync="modals['fund'].visible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      @close="closeModal('fund')"
    >
      <FundWallet :initialAmount="0" @done="fundWalletDone($event)" />
    </b-modal>

    <b-modal
      :active.sync="modals['withdraw'].visible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      @close="closeModal('withdraw')"
    >
      <Withdraw @done="withdrawDone($event)" />
    </b-modal>
  </div>

  <!-- No Loan -->
  <!-- <div class="card empty" v-else>
    <div class="card-body">
      <Empty />
      <p class="text mt-5">No Active Loan</p>
      <b-button class="mt-3" type="is-primary" @click="$emit('apply')">
        Apply
      </b-button>
    </div>
  </div>-->
</template>

<script>
import moment from "moment";
import Empty from "~/components/svg/Empty.vue";
import Reviewing from "~/components/svg/Reviewing.vue";
import FundWallet from "~/components/modals/FundWallet";
import Withdraw from "~/components/modals/Withdraw";
import network from "~/mixins/network";
import modal from "~/mixins/modal";

export default {
  name: "TransactionDetails",

  mixins: [network, modal],

  components: {
    Empty,
    Reviewing,
    FundWallet,
    Withdraw
  },

  data() {
    return {
      data: this.$store.getters["dashboard/wallet"]
    };
  },

  created() {
    if (!this.data) this.getData();
    this.addModal("fund");
    this.addModal("withdraw");
  },

  methods: {
    async getData() {
      const token = localStorage.getItem("token");
      this.network.loading = true;
      try {
        const {
          data: { status, ...data }
        } = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/user/wallet",
          data: { token }
        });
        this.$store.commit("dashboard/setWallet", data);
        this.data = data;
        this.network.loading = false;
      } catch (error) {
        this.network.loading = false;
      }
    },

    formatDate(date) {
      return moment(date).format("MMM Do YYYY");
    },

    fundWalletDone(e) {
      this.closeModal("fund");
      this.sendInvestRequest();
    },

    withdrawDone(e) {
      console.log({ e });
    }
  },

  middleware: "authenticated"
};
</script>

<style lang="scss">
.details {
  .owing {
    padding: 1rem 0 1rem;
    .label {
      font-size: 0.8rem;
      padding: 3px 7px;
      border-radius: 4px;
      background: rgba(139, 46, 46, 0.037);
      color: #888;
      border: 1px solid #eee;
      display: inline-block;
      margin: 0;
    }
    .value {
      margin: 0;
      font-size: 2rem;
      font-weight: 600;
      color: #555;
    }
  }
  .items {
    .item {
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 0;
      &:last-child {
        border: 0;
      }
      > *:not(.icon) {
        flex: 1;
      }
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.04);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }
      .value {
        font: inherit;
        font-size: 1.5rem;
      }
      .label {
        margin-left: 10px;
        font-size: 0.87rem;
        padding: 1px 7px;
        border-radius: 3px;
        background: rgba(52, 46, 139, 0.137);
        color: rgb(48, 46, 139);
        display: inline-block;
      }
    }
  }
}
.empty {
  text-align: center;
  padding: 3rem 0;
  .text {
    max-width: 60%;
    margin: 20px auto 0;
    color: slategrey;
  }
}
</style>
