<template>
  <div>
    <section class="spad" v-if="!network.loading && network.error">
      <div class="d-flex flex-column align-items-center spad">
        <b-icon pack="fas" icon="ban" size="is-large" type="is-danger"></b-icon>
        <br />
        <h3 class="title is-5 mb-0 mt-4">Could not get data</h3>
        <p
          class="mx-auto text-center mt-3"
          style="max-width: 300px; line-height: 1.5rem;"
        >Please check your internet connection and try again</p>
      </div>
    </section>

    <!-- <section class="spad" v-if="!network.loading && !network.error && !requests.length">
      <div class="d-flex flex-column align-items-center spad">
        <b-icon pack="fas" icon="ban" size="is-large" type="is-danger"></b-icon>
        <br />
        <h3 class="title is-5 mb-0 mt-4">No requests</h3>
        <p
          class="mx-auto text-center mt-3"
          style="max-width: 300px; line-height: 1.5rem;"
        >Marketplace is currently empty, please check back later</p>
      </div>
    </section>-->

    <section class="spad" v-if="!network.loading && !network.error">
      <div class="container">
        <div class="d-flex justify-content-end mb-5">
          <b-field size="is-large">
            <p class="control">
              <span class="button is-static">Sort by</span>
            </p>
            <b-select placeholder="Time left" v-model="sortBy">
              <option value="time">Time left</option>
              <option value="amount">Amount</option>
              <option value="rate">Rate</option>
            </b-select>
            <p class="control">
              <span class="button is-static">Order</span>
            </p>
            <b-select placeholder="Ascending" v-model="orderBy">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </b-select>
          </b-field>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6" v-for="(request, i) in requests" :key="i">
            <div class="services-item amount card cursor-pointer" @click="select(request)">
              <div class="card-image">
                <img
                  :src="
                      request.image ||
                        'https://images.pexels.com/photos/3336176/pexels-photo-3336176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
                    "
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">{{ request.REQUEST_PRINCIPAL }}</div>
                <p
                  class="subtitle is-6 mt-1"
                >{{ request.REQUEST_TENOR }} {{ request.LOAN_DURATION }}</p>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">{{ request.REQUEST_RATE }}%</span>
                </a>
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">{{ request.TIME_LEFT }} day(s)</span>
                </a>
              </footer>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="services-item amount card">
              <div class="card-image">
                <img
                  :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">22,000</div>
                <p class="subtitle is-6 mt-1">2 Months</p>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">6%</span>
                </a>
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">Closed</span>
                </a>
              </footer>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="services-item amount card">
              <div class="card-image">
                <img
                  src="https://images.unsplash.com/photo-1517732306149-e8f829eb588a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">62,000</div>
                <p class="subtitle is-6 mt-1">2 Months</p>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">4%</span>
                </a>
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">Closed</span>
                </a>
              </footer>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="services-item amount card">
              <div class="card-image">
                <img
                  :src="'https://images.unsplash.com/photo-1556318600-492532050ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">92,000</div>
                <p class="subtitle is-6 mt-1">4 Months</p>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">3%</span>
                </a>
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">Closed</span>
                </a>
              </footer>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="services-item amount card">
              <div class="card-image">
                <img
                  :src="'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">22,000</div>
                <p class="subtitle is-6 mt-1">2 Months</p>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">6%</span>
                </a>
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">Closed</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div style="height: 400px" v-if="network.loading" class="position-relative">
      <b-loading :is-full-page="false" :active.sync="network.loading" :can-cancel="false"></b-loading>
    </div>
  </div>
</template>

<script>
import network from "~/mixins/network";

export default {
  name: "MarketPlaceHome",

  mixins: [network],

  data() {
    return {
      requests: JSON.parse(
        JSON.stringify(this.$store.getters["marketplace/requests"])
      ),
      sortBy: "time",
      orderBy: "asc",
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false
    };
  },

  created() {
    if (!this.requests.length) this.getRequests();
  },

  mounted() {
    this.sort(this.sortBy, this.orderBy);
  },

  watch: {
    sortBy() {
      this.sort(this.sortBy, this.orderBy);
    },
    orderBy() {
      this.sort(this.sortBy, this.orderBy);
    }
  },

  methods: {
    async getRequests() {
      const token = localStorage.getItem("token");
      try {
        this.network.loading = true;
        const {
          data: { status, data }
        } = await this.$axios({
          method: "POST",
          url: `https://mobile.creditclan.com/api/v3/market${
            this.isLoggedIn ? "/loans" : ""
          }`,
          data: this.isLoggedIn ? { token } : null
        });
        if (status) {
          this.$store.commit("marketplace/setRequests", data);
          this.requests = data;
        }
        this.network.loading = false;
      } catch (err) {
        this.network.loading = false;
        this.network.error = false;
      }
    },

    select(request) {
      this.$store.commit("marketplace/setCurrent", request);
      this.$router.push("marketplace/details");
    },

    sort(e, order) {
      const [x1, x2] = order === "asc" ? [1, -1] : [-1, 1];
      switch (e) {
        case "amount":
          this.request = this.requests.sort((a, b) =>
            a.amount > b.amount ? x1 : x2
          );
          break;
        case "time":
          this.request = this.requests.sort((a, b) =>
            new Date(a.expiry) > new Date(b.expiry) ? x1 : x2
          );
          break;
        default:
          break;
      }
    },

    getTimeLeft(date) {
      const today = moment([]);
      const dueday = moment(date);
      const diff = dueday.diff(today, "d");
      return diff + 1;
    }
  }
};
</script>

<style lang="scss" scoped>
.card-footer-item {
  line-height: 7px;
}

.card-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.spad {
  padding: 3rem 0;
}
</style>