<template>
  <div>
    <section v-if="!network.loading && !network.error && !investments.length">
      <div class="d-flex flex-column align-items-center spad">
        <b-icon pack="fas" icon="ban" size="is-large" type="is-danger"></b-icon>
        <br />
        <h3 class="title is-5 mb-0 mt-4">No Investments</h3>
        <p
          class="mx-auto text-center mt-3"
          style="max-width: 300px; line-height: 1.5rem;"
        >Start investing and they will appear here.</p>
      </div>
    </section>

    <section class="spad" v-if="!network.loading && !network.error && investments.length">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6" v-for="(investment, i) in investments" :key="i">
            <div class="services-item amount card cursor-pointer" @click="select(investment)">
              <div class="card-image">
                <img
                  :src="
                      investment.image ||
                        'https://images.pexels.com/photos/3336176/pexels-photo-3336176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
                    "
                  alt="Placeholder image"
                />
              </div>
              <div class="card-body text-left">
                <div class="title is-5 m-0">{{ investment.BID_PRINCIPAL }}</div>
                <p
                  class="subtitle is-6 mt-1"
                >{{ investment.BID_TENOR }} {{ investment.LOAN_DURATION }}</p>
              </div>
              <footer class="card-footer">
                <!-- <a class="card-footer-item d-flex flex-column">
                    <span class="small">Amount</span>
                    <br />
                    <span class="title is-6">{{ investment.amount }}</span>
                </a>-->
                <a class="card-footer-item d-flex flex-column">
                  <span class="small">Rate</span>
                  <br />
                  <span class="title is-6">{{ investment.BID_RATE }}%</span>
                </a>
                <!-- <a class="card-footer-item d-flex flex-column">
                  <span class="small">Time left</span>
                  <br />
                  <span class="title is-6">{{ investment.TIME_LEFT }} day(s)</span>
                </a> -->
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div style="height: 400px" v-if="network.loading" class="position-relative">
      <b-loading :is-full-page="false" :active.sync="network.loading" :can-cancel="false"></b-loading>
    </div>
  </div>
</template>

<script>
import network from "~/mixins/network";

export default {
  name: "MarketPlaceInvestments",

  mixins: [network],

  data() {
    return {
      investments: JSON.parse(
        JSON.stringify(this.$store.getters["marketplace/investments"])
      ),
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false
    };
  },

  created() {
    if (!this.investments.length) this.getUserInvestments();
  },

  methods: {
    async getUserInvestments() {
      if (!this.isLoggedIn) return;
      const token = localStorage.getItem("token");
      try {
        this.network.loading = true;
        const {
          data: { loans, pending }
        } = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/lender/portfolio",
          data: { token }
        });
        if (loans) {
          this.$store.commit("marketplace/setInvestments", loans);
          this.investments = [...loans, ...pending];
        }
        this.network.loading = false;
      } catch (err) {
        this.network.loading = false;
        this.network.error = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.card-footer-item {
  line-height: 7px;
}

.card-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.spad {
  padding: 3rem 0;
}
</style>