<template>
  <div class="owl-carousel marketplace owl-theme">
    <div class="item services-item amount card">
      <div class="card-image">
        <img
          :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
          alt="Placeholder image"
        />
      </div>
      <div class="card-body text-left">
        <div class="title is-5 m-0">22,000</div>
        <p class="subtitle is-6 mt-1">2 Months</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Rate</span>
          <br />
          <span class="title is-6">6%</span>
        </a>
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Time left</span>
          <br />
          <span class="title is-6">Closed</span>
        </a>
      </footer>
    </div>

    <div class="item services-item amount card">
      <div class="card-image">
        <img
          :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
          alt="Placeholder image"
        />
      </div>
      <div class="card-body text-left">
        <div class="title is-5 m-0">22,000</div>
        <p class="subtitle is-6 mt-1">2 Months</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Rate</span>
          <br />
          <span class="title is-6">6%</span>
        </a>
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Time left</span>
          <br />
          <span class="title is-6">Closed</span>
        </a>
      </footer>
    </div>

    <div class="item services-item amount card">
      <div class="card-image">
        <img
          :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
          alt="Placeholder image"
        />
      </div>
      <div class="card-body text-left">
        <div class="title is-5 m-0">22,000</div>
        <p class="subtitle is-6 mt-1">2 Months</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Rate</span>
          <br />
          <span class="title is-6">6%</span>
        </a>
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Time left</span>
          <br />
          <span class="title is-6">Closed</span>
        </a>
      </footer>
    </div>

    <div class="item services-item amount card">
      <div class="card-image">
        <img
          :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
          alt="Placeholder image"
        />
      </div>
      <div class="card-body text-left">
        <div class="title is-5 m-0">22,000</div>
        <p class="subtitle is-6 mt-1">2 Months</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Rate</span>
          <br />
          <span class="title is-6">6%</span>
        </a>
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Time left</span>
          <br />
          <span class="title is-6">Closed</span>
        </a>
      </footer>
    </div>

    <div class="item services-item amount card">
      <div class="card-image">
        <img
          :src="'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'"
          alt="Placeholder image"
        />
      </div>
      <div class="card-body text-left">
        <div class="title is-5 m-0">22,000</div>
        <p class="subtitle is-6 mt-1">2 Months</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Rate</span>
          <br />
          <span class="title is-6">6%</span>
        </a>
        <a class="card-footer-item d-flex flex-column">
          <span class="small">Time left</span>
          <br />
          <span class="title is-6">Closed</span>
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    window.$(".owl-carousel.marketplace").owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 4
        }
      }
    });
  }
};
</script>

<style lang="scss" scoped>
.card-footer-item {
  line-height: 7px;
}

.card-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.spad {
  padding: 3rem 0;
}
</style>