<template>
  <main class="main">
    <div class="half-section">
      <h2 class="half-section__title">how it works</h2>
      <p class="half-section__label b-rad">Lenders</p>
      <br />
      <div class="arrow">
        <img src="/img/others/arrow.svg" class="arrow-up" alt />
      </div>
      <small>
        Lenders invest funds
        <br />and earn interest
      </small>
      <div class="arrow">
        <img src="/img/others/arrow.svg" class="arrow-down" alt />
      </div>
      <div class="half-section__middle-content">
        <img src="/img/others/img-top.svg" class="img-top" alt />
        <img src="/img/others/img-down.svg" class="img-down" alt />
        <span>Sycamore:</span>
        <br />
        <p>A P2P platform to link lenders and borrowers</p>
      </div>
      <div class="arrow">
        <img src="/img/others/arrow.svg" class="arrow-up" alt />
      </div>
      <small>
        Borrowers get loans
        <br />and pay interest
      </small>
      <div class="arrow">
        <img src="/img/others/arrow.svg" class="arrow-down" alt />
      </div>
      <br />
      <p class="half-section__label c-rad">Borrowers</p>
    </div>
    <div class="half-section">
      <h2 class="half-section__title half-section__title--white">our unique approach</h2>

      <div class="half-section__box">
        <div class="img-container">
          <img src="/img/others/search.png" class alt />
        </div>
        <div class="half-section__box-content">
          <h3>Alternative Data</h3>
          <p>We analyse a broad range of alternative data points ranging from social media to bank statements.</p>
        </div>
      </div>

      <div class="half-section__box">
        <div class="img-container">
          <img src="/img/others/unknown.png" class alt />
        </div>
        <div class="half-section__box-content">
          <h3>Secured Lending</h3>
          <p>In determining the eligibility of a borrower, one of the things we consider is the character and intergrity of individual by way of behavioural deduction.</p>
        </div>
      </div>

      <div class="half-section__box">
        <div class="img-container">
          <img src="/img/others/car.png" class alt />
        </div>
        <div class="half-section__box-content">
          <h3>Psychometric Analysis</h3>
          <p>In determining the eligibility of a borrower, one of the things we consider is the character and intergrity of individual by way of behavioural deduction.</p>
        </div>
      </div>
    </div>
    <div class="help-background"></div>
  </main>
</template>

<script>
export default {
  name: "AboutInfoGraphic"
};
</script>

<style scoped>
html {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  color: #373737;
  box-sizing: border-box;
}

.main {
  background: #373737;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 55px 0;
  position: relative;
}

.half-section {
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.half-section:first-child {
  background-color: #fff;
  padding-bottom: 32px;
  border-radius: 0 0 90px 0;
}

.half-section__title {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 700;
  padding-bottom: 1.7rem;
}

.half-section__title--white {
  color: #fff;
  padding-left: 55px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.half-section__label {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  background: #447021;
  color: #ffffff;
  padding: 1rem 2.5rem;
}

.b-rad {
  border-radius: 16px 16px 0;
}

.c-rad {
  border-radius: 0 16px 16px 16px;
  background: #e3393c;
}

small {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

.arrow {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0.6rem auto;
}

.arrow-up {
  height: 40px;
}

.arrow-down {
  height: 40px;
  transform: rotate(180deg);
  transform-origin: center;
}

.half-section__middle-content {
  display: inline-block;
  width: 170px;
  margin: 0 auto;
  line-height: 1.5;
  padding: 3.2rem 2rem;
  position: relative;
}

.half-section__middle-content span {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6;
}

.half-section__middle-content p {
  font-weight: 500;
  font-size: 1.1rem;
}

.img-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
}

.img-down {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
}

.half-section:nth-child(2) {
  padding: 52px 40px 0 0;
  text-align: left;
  border-radius: 90px 0 0 0;
  background-color: #373737;
}

.half-section__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
  transform: translateX(-67px);
}

.img-container {
  min-height: 135px;
  min-width: 135px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}

.img-container img {
  width: 85px;
}

.half-section__box-content {
  padding-left: 1.4rem;
  width: 90%;
}

.half-section__box h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 0.7rem;
}

.half-section__box p {
  color: rgba(255, 255, 255, 0.719);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
}

.help-background {
  top: 0;
  height: 600px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  left: 0;
  z-index: 0;
}

@media only screen and (max-width: 840px) {
  .half-section__box p {
    width: 115%;
  }
}

@media only screen and (max-width: 780px) {
  .main {
    flex-direction: column;
  }
  .half-section {
    width: 100%;
  }
  .half-section__box {
    transform: translateX(0px);
  }
  .half-section__box p {
    width: 100%;
  }
  .half-section:nth-child(2) {
    padding: 2rem;
  }
}
</style>