<template>
  <div class="ccard">
    <div class="title is-6 mb-0">Account</div>
    <div class="no">{{ account.account_no }}</div>
    <div class="items">
      <div class="item">
        <span class="label">Bank</span>
        <span class="value">{{ account.account_name }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    account: {
      type: Object,
      required: true,
    }
  },

  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
$primary: #0046c70c;
$secondary: #ff33330c;

.ccard {
  background: linear-gradient(to right, $primary, $secondary);
  border: 0;
  border-radius: 4px;
  // max-width: 300px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  padding: 15px 24px 10px;
  justify-content: space-between;
  * {
    color: #555;
  }
  .no {
    font-size: 2rem;
    color: #555;
    font-weight: 600;
  }

  .items {
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .item .label {
    font-size: 0.8rem;
    color: rgb(255, 210, 96);
    margin: 0;
    padding: 0;
  }

  .item .value {
    font-size: 1rem;
    color: #555;
    margin: 0;
    padding: 0;
  }

  .item img {
    width: 50px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
</style>