<template>
  <div class="card-iframe">
    <div class="close-button">
      <b-button type="is-danger" @click="$emit('close')">Close</b-button>
    </div>
    <vue-friendly-iframe
      :src="
        `https://paycard.creditclan.com/?platform=${platform}&amount=${amount}&email=${email}`
      "
    ></vue-friendly-iframe>
  </div>
</template>

<script>
export default {
  props: {
    platform: String,
    amount: String,
    email: String
  },
  created() {
    window.addEventListener("message", this.handle, false);
  },
  beforeDestroy() {
    window.removeEventListener("message", this.handle, false);
  },
  methods: {
    handle(e) {
      if (e.data && e.data.msgId && e.data.msgId === "payment_response")
        this.$emit("done", JSON.parse(e.data.data));
    }
  }
};
</script>

<style lang="scss" scoped>
body {
  overflow: hidden;
}
.card-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  border: 0;
  background: #fff;
  .close-button {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 99999999;
  }
  /deep/ .vue-friendly-iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  /deep/ iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
</style>
