<template>
  <div class="ccard" v-if="card.last4" :class="span ? '' : 'max-width'">
    <MasterCardLogo />
    <div class="no">**** **** {{ card.last4 }}</div>
    <div class="items">
      <div class="item">
        <span class="label">Expiry</span>
        <span class="value">{{ card.exp }}</span>
      </div>
      <b-button type="is-primary" inverted outlined rounded @click="$emit('add')">Change card</b-button>
    </div>
  </div>
  <div class="ccard" v-else :class="span ? '' : 'max-width'">
    <div></div>
    <div class="no">**** **** ****</div>
    <div class="items">
      <div class="item">
        <span class="label">No card added</span>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div class="item">
        <b-button type="is-primary" inverted outlined rounded @click="$emit('add')">Add new card</b-button>
      </div>
      <div></div>
    </div>
  </div>
</template>

<script>
import MasterCardLogo from "~/components/MasterCardLogo.vue";

export default {
  props: {
    card: {
      type: Object,
      required: true
    },
    span: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {};
  },

  components: {
    MasterCardLogo
  }
};
</script>

<style lang="scss" scoped>
$primary: #0046c7;
$secondary: #5233ff;

.ccard {
  background: linear-gradient(to right, $primary, $secondary);
  border: 0;
  border-radius: 4px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  padding: 10px 24px;
  justify-content: space-between;

  &.max-width {
    max-width: 330px;
  }

  * {
    color: #fff;
  }
  .no {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
  }

  .items {
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .item .label {
    font-size: 0.8rem;
    color: rgb(255, 210, 96);
    margin: 0;
    padding: 0;
  }

  .item .value {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .item img {
    width: 50px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
</style>