<template>
  <footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="footer-item">
            <div class="footer-logo">
              <a>
                <img src="/img/logo-colored.png" alt="Logo" :style="{ width: '150px' }" />
              </a>
            </div>
            <p class="mb-4">
              At Sycamore, our primary objective is to create more opportunities
              to get you financially empowered. Follow us on social media
              Platforms, as we make this objective a reality.
            </p>
            <b-button
              tag="a"
              href="/docs/sycamore.ng-company-brochure-2020.pdf"
              target="_blank"
              type="is-primary"
              outlined
              inverted
            >Download brochure</b-button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer-item">
            <h5>Contact Info</h5>
            <ul>
              <li>
                <img src="/img/placeholder.png" alt />
                15, Modupe Johnson Crescent,
                <br />Surulere, Lagos.
              </li>
              <li>
                <img src="/img/phone.png" alt />+2348097341810
              </li>
            </ul>
            <div class="socials">
              <a target="_blank" class="link" href="https://www.facebook.com/Sycamore.NG/">
                <i class="fab fa-facebook"></i>
              </a>
              <a target="_blank" class="link" href="https://twitter.com/FinanceSycamore">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" class="link" href="https://www.instagram.com/sycamoreng/">
                <i class="fab fa-instagram"></i>
              </a>
              <a
                target="_blank"
                class="link"
                href="https://www.linkedin.com/company/sycamore-finance/"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a target="_blank" class="link" href="https://medium.com/@sycamorefinance">
                <i class="fab fa-medium"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="small mx-auto text-center">
              Sycamore is authorized and regulated by the Money Lenders Act Cap
              52. The Sycamore brand is a property of Sycamore Integrated
              Solutions Limited.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div
              class="small text-white text-center"
            >&copy; Copyrights, All right reserved by Sycamore</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>


<style lang="scss">
$brand-red: #b63239;
.socials {
  display: flex;
  margin-top: 30px;
  .link {
    background: rgba(255, 255, 255, 0.04);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.07);
      color: $brand-red;
    }
  }
  .link + .link {
    margin-left: 10px;
  }
}
</style>