<template>
  <div>
    <div v-if="loan">
      <div class="card empty" v-if="status.pendingContract || status.pendingDisbursement">
        <!-- Under Review -->
        <div class="card-body">
          <Reviewing />
          <div class="mt-4">
            <b-tag
              size="is-medium"
              rounded
            >Loan Amount Requested: &#8358; {{ loan.REQUEST_PRINCIPAL }}</b-tag>
          </div>
          <p class="text mb-5">Your request is currently under review, you will be notified soon</p>
          <b-button type="is-danger" @click="$emit('cancel')" :loading="cancelling">Cancel Request</b-button>
        </div>
      </div>

      <!-- In Repayment -->
      <div class="card details" v-if="status.inRepayment">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="owing">
              <b-tag type="is-danger" rounded>Owing</b-tag>
              <div class="value">&#x20A6; {{ owing }}</div>
            </div>
          </div>
          <div class="items">
            <div class="item">
              <div class="icon">
                <i class="fa fa-money"></i>
              </div>
              <div class="d-flex justify-content-between">
                <div class="value">&#8358; {{ debt }}</div>
                <b-tag type="is-warning" size="is-small" rounded>Amount Left</b-tag>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <i class="fa fa-money"></i>
              </div>
              <div class="d-flex justify-content-between">
                <div class="value">&#8358; {{ paid }}</div>
                <b-tag type="is-primary" size="is-small" rounded>Paid</b-tag>
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="d-flex justify-content-between">
                <div>
                  <div class="value">{{ date }}</div>
                  <p>{{ noOfDaysLeft }} day(s) left</p>
                </div>
                <div>
                  <b-tag type="is-info" size="is-small" rounded>Due date</b-tag>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="text-center">
        <a-popconfirm
          placement="top"
          title="Confirm this action"
          @confirm="$emit('pay')"
          okText="Confirm"
          cancelText="Cancel"
        >
          <a-button class="mb-1" size="large" type="primary"
            >Pay with existing card</a-button
          >
        </a-popconfirm>
        <br />or
        <br />
        <a-button class="mt-1" size="large" @click="$emit('pay', true)"
          >Pay with a different card</a-button
        >
          </div>-->
          <div class="text-right mt-4">
            <b-button
              class="mb-2"
              type="is-success"
              size="is-medium"
              @click="$emit('pay')"
              :loading="makingPayment"
            >Pay with existing card</b-button>
          </div>
        </div>
      </div>
    </div>

    <!-- No Loan -->
    <div class="card empty" v-else>
      <div class="card-body" v-if="!loading">
        <Empty />
        <p class="text mt-5">No Active Loan</p>
        <b-button class="mt-3" type="is-primary" @click="$emit('apply')">Apply</b-button>
      </div>
      <div style="height: 300px" v-else>
        <b-loading :is-full-page="false" :active="loading"></b-loading>
      </div>
    </div>
  </div>
</template>

<script>
import moment, { max } from "moment";
import Empty from "~/components/svg/Empty.vue";
import Reviewing from "~/components/svg/Reviewing.vue";

export default {
  props: {
    loan: Object,
    cancelling: Boolean,
    makingPayment: Boolean,
    loading: Boolean
  },
  computed: {
    noOfDaysLeft() {
      const today = moment([]);
      const dueday = moment(this.loan.REPAYMENT_STARTED_WHEN);
      const diff = dueday.diff(today, "d");
      return diff + 1;
    },
    date() {
      return moment(this.loan.REPAYMENT_STARTED_WHEN).format("MMM Do YYYY");
    },
    status() {
      const [status, loan] = [{}, this.loan];
      if (loan.LOAN_STATUS == 3) {
        status.inRepayment = true;
      } else if (loan.LOAN_STATUS < 3) {
        status.inRepayment = false;
        if (loan.IS_ACCEPTED == 1) {
          status.pendingDisbursement = true;
        } else if (loan.CONTRACT_DOC_SENT == 1) {
          status.pendingAcceptance = true;
        } else {
          status.pendingContract = true;
        }
      }
      return status;
    },
    owing() {
      return (+this.loan.NEXT_PAYMENT_AMOUNT).toLocaleString(undefined, {
        maximumFractionDigits: 2
      });
    },
    debt() {
      return (+this.loan.repayment.debts).toLocaleString(undefined, {
        maximumFractionDigits: 2
      });
    },
    paid() {
      return (+this.loan.repayment.paid).toLocaleString(undefined, {
        maximumFractionDigits: 2
      });
    }
  },
  components: {
    Empty,
    Reviewing
  },
  middleware: "authenticated"
};
</script>

<style lang="scss" scoped>
.details {
  .owing {
    padding: 1rem 0 2rem;
    .label {
      font-size: 1rem;
      padding: 5px 7px;
      border-radius: 6px;
      background: rgba(139, 46, 46, 0.137);
      color: rgb(139, 46, 46);
      display: inline-block;
    }
    .value {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .items {
    .item {
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 0;
      &:last-child {
        border: 0;
      }
      > *:not(.icon) {
        flex: 1;
      }
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.04);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }
      .value {
        font: inherit;
        font-size: 1.5rem;
      }
      .label {
        margin-left: 10px;
        font-size: 0.87rem;
        padding: 1px 7px;
        border-radius: 3px;
        background: rgba(52, 46, 139, 0.137);
        color: rgb(48, 46, 139);
        display: inline-block;
      }
    }
  }
}
.empty {
  text-align: center;
  padding: 3rem 0;
  .text {
    max-width: 60%;
    margin: 20px auto 0;
    color: slategrey;
  }
}
</style>
