<template>
  <header class="header-section">
    <div class="container h-100">
      <div class="inner-header">
        <div class="logo h-100">
          <nuxt-link to="/" class="h-100 d-flex align-items-center">
            <img src="/img/logo-colored.png" alt="Logo" />
          </nuxt-link>
          <button class="btn btn-outline-secondary mobile-menu-toggle" @click="toggleMobileMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="mobile-collapse flex-grow-1 d-flex justify-content-between" ref="collapse">
          <div></div>
          <nav class="main-menu mobile-menu h-100 hidden-sm">
            <ul class="h-100" v-if="!auth.loggedIn">
              <li class="h-100 d-inline-flex align-items-center">
                <a>
                  Borrow
                  <i class="fa fa-caret-down ml-2"></i>
                </a>
                <ul class="drop-menu">
                  <li>
                    <nuxt-link to="/borrow/apply" class="d-flex flex-column">
                      <div class="item-title">Personal Loan</div>
                      <div class="item-body">Borrow money for all your personal needs right here</div>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/borrow/apply" class="d-flex flex-column">
                      <div class="item-title">Business Loan</div>
                      <div class="item-body">Get that cash your business needs today</div>
                    </nuxt-link>
                  </li>
                </ul>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <a>
                  Invest
                  <i class="fa fa-caret-down ml-2"></i>
                </a>
                <ul class="drop-menu">
                  <li>
                    <nuxt-link to="/invest/overview" class="d-flex flex-column">
                      <div class="item-title">Individuals</div>
                      <div class="item-body">Get started with our secure investment plans here</div>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/invest/institution" class="d-flex flex-column">
                      <div class="item-title">Institutions</div>
                      <div class="item-body">
                        See the options for banks, institutions, and financial
                        advisors
                      </div>
                    </nuxt-link>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="h-100" v-else>
              <li class="h-100 d-inline-flex align-items-center" v-if="auth.loggedIn">
                <a>
                  Dashboard
                  <i class="fa fa-caret-down ml-2"></i>
                </a>
                <ul class="drop-menu">
                  <li>
                    <nuxt-link to="/borrow/dashboard" class="d-flex flex-column">
                      <div class="item-title">Borrower</div>
                      <div class="item-body">Manage your current loan and make payments</div>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/invest/dashboard" class="d-flex flex-column">
                      <div class="item-title">Investor</div>
                      <div class="item-body">View your wallet and transaction</div>
                    </nuxt-link>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="main-menu mobile-menu visible-sm">
            <div v-if="!auth.loggedIn" class="d-flex justify-content-around">
              <b-dropdown aria-role="list">
                <button class="button is-primary" slot="trigger">
                  <span>Borrow</span>
                  <b-icon icon="menu-down"></b-icon>
                </button>

                <b-dropdown-item
                  aria-role="listitem"
                  @click="$router.push('/borrow/apply')"
                >Personal Loan</b-dropdown-item>
                <b-dropdown-item aria-role="listitem">Business Loan</b-dropdown-item>
              </b-dropdown>
              <b-dropdown aria-role="list">
                <button class="button is-primary" slot="trigger">
                  <span>Invest</span>
                  <b-icon icon="menu-down"></b-icon>
                </button>

                <b-dropdown-item
                  aria-role="listitem"
                  @click="$router.push('/invest/overview')"
                >Individual</b-dropdown-item>
                <b-dropdown-item aria-role="listitem">Institutions</b-dropdown-item>
              </b-dropdown>
            </div>

            <b-dropdown aria-role="list" v-else>
              <button class="button is-primary" slot="trigger">
                <span>Dashboard</span>
                <b-icon icon="menu-down"></b-icon>
              </button>
              <b-dropdown-item
                aria-role="listitem"
                @click="$router.push('/borrow/dashboard')"
              >Borrow</b-dropdown-item>
              <b-dropdown-item
                aria-role="listitem"
                @click="$router.push('/invest/dashboard')"
              >Investment</b-dropdown-item>
            </b-dropdown>
          </div>

          <nav class="main-menu mobile-menu h-100 small">
            <ul class="h-100">
              <li class="h-100 d-inline-flex align-items-center" v-if="!auth.loggedIn">
                <nuxt-link to="/login">Login</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/marketplace">Marketplace</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/about">About us</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/faq">FAQ</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <nuxt-link to="/contact">Contact us</nuxt-link>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <a href="/blog" target="_blank">
                  Blog
                  <i class="fa fa-external-link-alt ml-1"></i>
                </a>
              </li>
              <li
                v-if="auth.loggedIn"
                class="h-100 d-inline-flex align-items-center cursor-pointer pl-3"
              >
                <b-dropdown aria-role="list" position="is-bottom-left">
                  <div class="d-flex align-items-center" slot="trigger">
                    <div class="avatar">
                      <img
                        :src="
                      $store.state.auth.user.profile
                        ? $store.state.auth.user.profile.profile_image
                        : ''
                    "
                        alt="Avatar"
                      />
                    </div>
                    <b-icon pack="fas" icon="caret-down"></b-icon>
                  </div>
                  <b-dropdown-item aria-role="listitem" @click="logout()">
                    <i class="fa fa-power-off mr-2"></i> Logout
                  </b-dropdown-item>
                </b-dropdown>
              </li>
              <li class="h-100 d-inline-flex align-items-center">
                <span></span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Navbar",

  data() {
    return {
      auth: this.$store.state.auth,
      page: null
    };
  },

  beforeCreate() {
    this.page = this.$route.name;
  },

  watch: {
    $route() {
      this.page = this.$route.name;
    }
  },

  methods: {
    logout() {
      this.$store.commit("auth/SET", { key: "loggedIn", value: false });
      this.$store.commit("auth/SET", { key: "user", value: null });
      // this.$store.commit("loan/SET", { key: "current", value: {} });
      this.$store.commit("application/updateData", {});
      this.$store.commit("dashboard/clear");
      localStorage.clear();
    },
    toggleMobileMenu() {
      this.$refs.collapse.style.height =
        `${this.$refs.collapse.style.height}`.replace("px", "") > 0
          ? 0
          : `${this.$refs.collapse.scrollHeight}px`;
    }
  }
};
</script>
