<template>
  <paystack
    :amount="convertedAmount"
    :email="email"
    :paystackkey="paystackkey"
    :reference="reference"
    :callback="callback"
    :close="close"
    :embed="false"
    :channels="['card']"
    class="pay button is-primary"
  >
    <i class="fas fa-money-bill-wave mr-2"></i>
    {{ text }}
  </paystack>
</template>

<script type="text/javascript">
let paystack = {};
if (process.client) paystack = VuePaystack.default;

export default {
  name: "Pay",
  components: {
    paystack
  },
  props: {
    text: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    amount: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      paystackkey: "pk_live_bb2a3031e6893b1bf3ce4f1b880e5c0fc5e3230d" //paystack public key
    };
  },
  computed: {
    reference() {
      let text = "";
      let possible =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (let i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    },
    convertedAmount() {
      return +this.amount * 100;
    }
  },
  methods: {
    callback: function(response) {
      this.$emit("done", response);
    },
    close: function() {
      this.$emit("cancel");
    }
  }
};
</script>

<style lang="scss" scoped>
.pay {
  align-items: center;
  font: inherit;
}
</style>