<template>
  <div :class="classes">
    <div class="card h-100">
      <div
        class="card-body text-center d-flex flex-column align-items-center justify-content-around"
      >
        <figure class="image is-96x96 d-inline-block mb-4">
          <img
            class="is-rounded"
            :src="data.image || 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'"
            alt="User selfie"
          />
        </figure>
        <div v-if="data.name">
          <h3>{{ data.name }}</h3>
          <p>{{ data.email }}</p>
          <!-- <b-button class="mt-3" type="is-primary" @click="openProfile()" disabled>View Profile</b-button> -->
        </div>
        <div v-else>
          <h3>No data to show</h3>
          <!-- <b-button class="mt-3" type="is-primary" disabled>View Profile</b-button> -->
        </div>
      </div>
    </div>

    <b-modal
      :active.sync="isProfileModalVisible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      @close="closeProfile"
    >
      <Profile />
    </b-modal>
  </div>
</template>

<script>
import Profile from "~/components/modals/Profile";

export default {
  props: ["classes", "user"],

  components: {
    Profile
  },

  data: () => ({
    isProfileModalVisible: false,
    data: {}
  }),

  created() {
    if (this.user) {
      this.data = {
        image: this.user.profile.profile_image,
        name: this.user.profile.full_name,
        email: this.user.profile.email
      };
    }
  },

  methods: {
    openProfile() {
      this.isProfileModalVisible = true;
    },
    closeProfile() {
      this.isProfileModalVisible = false;
    }
  }
};
</script>

<style>
</style>