<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your card information</h4>
      <p class="subtitle is-6 pt-2">This is required to process this application</p>

      <!-- <CreditCard @add="openAddCard()" :card="card" /> -->

      <div class="d-flex flex-column align-items-center mt-5">
        <div class="round-icon">
          <i class="fas fa-credit-card"></i>
        </div>
        <!-- <h3
          class="title is-4 m-0 mt-2"
        ></h3>-->
        <div
          class="w-75 text-center mt-4 mb-4"
          style="max-width: 400px"
        >Click the button below to add a new repayment card, a fee of &#8358;{{ $store.state.application.lender.CARD_REQUEST_FEE }} will be debited from your card</div>
        <Pay
          v-if="!data.paystack"
          text="Add new card"
          :amount="$store.state.application.lender.CARD_REQUEST_FEE"
          :email="data.profile.email"
          @done="paymentDone($event)"
        />
        <button v-else class="button is-success" disabled>
          <i class="fas fa-check mr-2"></i> Card added
        </button>
        <br />
        <br />
      </div>
    </div>

    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Sign up
        <i class="fa fa-flag ml-3"></i>
      </a>
    </footer>

    <CardIframe
      v-if="addingCard"
      @close="closeAddCard"
      :platform="$store.state.application.lender.PLATFORM_ID"
      :amount="$store.state.application.lender.CARD_REQUEST_FEE"
      :email="this.data.profile.email"
      @done="cardDone"
    />

    <b-loading v-if="applying" :is-full-page="false" :active="applying"></b-loading>
  </div>
</template>

<script>
import CreditCard from "~/components/CreditCard";
import CardIframe from "~/components/CardIframe";
import Pay from "~/components/Pay";

export default {
  name: "Card",

  components: {
    CreditCard,
    CardIframe,
    Pay
  },

  props: {
    initialData: {
      type: Object,
      required: true
    },
    applying: {
      type: Boolean
    }
  },

  data() {
    return {
      card: {},
      data: this.initialData,
      addingCard: false,
      cardAdded: false
    };
  },

  created() {
    const { card } = this.data;
    if (this.data.card) {
      this.card = {
        last4: card.last4,
        exp: card.expiry_date
      };
    }
  },

  methods: {
    openAddCard() {
      this.addingCard = true;
    },
    closeAddCard() {
      this.addingCard = false;
    },
    cardDone(card) {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message: "Card added successfully",
        type: "is-success",
        position: "is-top"
      });
      this.card = {
        last4: card.authorization.last4,
        exp: `${card.authorization.exp_month}/${card.authorization.exp_year}`
      };
      this.addingCard = false;
      this.cardAdded = true;
      this.data.card = card;
    },
    paymentDone(paystack) {
      this.addingCard = false;
      // console.log(paystack);
      this.cardAdded = true;
      this.data = { ...this.data, paystack };
      this.submit();
    },
    submit() {
      if (Object.keys(this.data.paystack || {}).length)
        this.$emit("done", { ...this.data, new_card_added: this.cardAdded });
      else
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Credit card is required",
          type: "is-danger",
          position: "is-top"
        });
    }
  }
};
</script>
