<template>
  <div class="card mb-5">
    <div class="card-content text-center">
      <div class="finish-img">
        <img src="/img/finish.png" alt style="border-radius: 10px; max-width: 300px" />
      </div>
      <h4 class="title is-4 mt-5">Application successful</h4>
      <p
        class="subtitle is-6 pt-2 mt-2 mb-4 w-75 mx-auto"
      >Your application has been sent successfully and is currently under review.</p>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="login()">
        Go to dashboard
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>

    <b-loading :is-full-page="false" :active.sync="loading"></b-loading>
  </div>
</template>

<script>
import Success from "~/components/svg/Success";

export default {
  name: "Finish",

  components: { Success },

  props: {
    initialData: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      data: this.initialData,
      loading: false
    };
  },

  methods: {
    async login() {
      if (this.$store.state.auth.loggedIn) {
        this.$store.commit("dashboard/setLoan", null);
        return this.$router.push("/borrow/dashboard");
      }
      this.loading = true;
      const { email, password } = this.data.profile;
      try {
        const res = await this.$axios({
          method: "POST",
          url: "/user/authenticate_with_login",
          data: { email, password }
        });
        if (res.data.status) {
          this.$store.commit("auth/SET", { key: "user", value: res.data.data });
          this.$store.commit("auth/SET", { key: "loggedIn", value: true });
          this.$store.commit("auth/SET", {
            key: "redirect",
            value: "/borrow/dashboard"
          });
        } else {
          this.$message.error(res.data.message);
        }
        this.loading = false;
      } catch (e) {
        this.loading = false;
        console.log({ e });
      }
    }
  }
};
</script>
