<template>
  <div class="card mb-5 mt-5">
    <div class="card-content">
      <h4 class="title is-4">Provide income information</h4>
      <p class="subtitle is-6 pt-2">All fields are required</p>

      <form class="mt-5" @input="handleInput($event)">
        <b-field
          label="Occupation"
          label-position="inside"
          :type="messages.occupation && 'is-danger'"
          :message="messages.occupation"
        >
          <b-select
            placeholder="Select occupation"
            size="is-medium"
            class="b-select"
            :value="data.income.occupation"
            name="occupation"
            @input.native="($event) => { data.income.occupation = $event.target.value }"
          >
            <option disabled v-if="loadingOccupations" key="99999">Loading..</option>
            <option
              :value="occupation.id"
              v-for="occupation in occupations"
              :key="occupation.id"
            >{{ occupation.name }}</option>
          </b-select>
        </b-field>

        <b-field
          label="Net monthly income"
          label-position="inside"
          :type="messages.net_monthly_income && 'is-danger'"
          :message="messages.net_monthly_income"
        >
          <b-input
            size="is-medium"
            type="number"
            v-model.trim="data.income.net_monthly_income"
            name="net_monthly_income"
          ></b-input>
        </b-field>

        <b-field
          label="Sector"
          label-position="inside"
          :type="messages.sector && 'is-danger'"
          :message="messages.sector"
        >
          <b-select
            placeholder="Select work sector"
            size="is-medium"
            class="b-select"
            :value="data.income.sector"
            name="sector"
            @input.native="($event) => { data.income.sector = $event.target.value }"
          >
            <option disabled v-if="loadingSectors" key="99999">Loading..</option>
            <option
              v-for="(sector, index) in sectors"
              :value="sector.id"
              :key="index"
            >{{ sector.name }}</option>
          </b-select>
        </b-field>

        <b-field
          label="Work Address"
          label-position="inside"
          :type="messages.address && 'is-danger'"
          :message="messages.address"
        >
          <b-input size="is-medium" type="text" v-model.trim="data.income.address" name="address"></b-input>
        </b-field>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Income",

  props: {
    initialData: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      data: this.initialData,
      messages: {},
      occupations: [],
      loadingOccupations: false,
      sectors: [],
      loadingSectors: false
    };
  },

  methods: {
    async getOccupations() {
      this.loadingOccupations = true;
      const res = await this.$axios.get("/occupations");
      this.loadingOccupations = false;
      return res.data.data;
    },
    async getSectors() {
      this.loadingSectors = true;
      const res = await this.$axios.get("/work_sectors");
      this.loadingSectors = false;
      return res.data.data;
    },
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = ["net_monthly_income", "occupation", "sector", "address"];
      const {
        data: { income }
      } = this;
      this.messages = validateAll(fields, income);
      if (!Object.keys(this.messages).length) this.$emit("done", this.data);
    }
  },

  async created() {
    this.occupations = await this.getOccupations();
    this.sectors = await this.getSectors();
  }
};
</script>
