<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Select loan amount and duration</h4>
      <p class="subtitle is-6 pt-2">This is required to process this application</p>

      <form class="mt-5" @input="handleInput($event)">
        <div class="title is-4 text-center"></div>
        <b-field
          label="How much do you want to borrow?"
          label-position="inside"
          :type="messages.amount && 'is-danger'"
          :message="messages.amount"
        >
          <b-input size="is-medium" type="number" v-model.number="data.loan.amount" name="amount"></b-input>
        </b-field>

        <b-field
          label="For how long?"
          label-position="inside"
          :type="messages.duration && 'is-danger'"
          :message="messages.duration"
        >
          <b-select
            placeholder="Select duration"
            size="is-medium"
            :value="data.loan.duration"
            name="duration"
            class="b-select"
            @input.native="($event) => { data.loan.duration = $event.target.value }"
          >
            <option v-for="i in 10" :key="i" :value="i">{{i}}</option>
          </b-select>
        </b-field>
        <div class="box bg-light">
          <div class="d-flex justify-content-around align-items-center text-center">
            <div class="item flex-fill border-right">
              <h3 class="title is-4 mb-0">{{ data.loan.amount | currency }}</h3>
              <small
                class="text-danger"
                v-if="data.loan.duration"
              >for {{ data.loan.duration }} {{ getDurationType(data.loan.tenor_type) }}</small>

              <small class="text-danger" v-else>Amount</small>
            </div>
            <div class="item flex-fill">
              <h3 class="title is-4 mb-0">
                {{
                repayment[data.loan.tenor_type === 3 ? "monthly" : "total"]
                | currency
                }}
              </h3>
              <small
                class="text-danger"
              >{{ data.loan.tenor_type === 3 ? "Monthly" : "Total" }} repayment</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
    <b-loading
      v-if="loading || !Object.keys(settings).length"
      :is-full-page="false"
      :active="loading"
    ></b-loading>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "LoanAmount",

  props: {
    initialData: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean
    },
    settings: {
      type: Object,
      require: true
    }
  },

  data() {
    return {
      value: "2",
      data: this.initialData,
      messages: {}
    };
  },

  computed: {
    repayment() {
      if (
        !this.data.loan.amount ||
        !this.settings.interest ||
        !this.data.loan.duration
      )
        return 0;
      const total =
        this.data.loan.amount +
        (this.settings.interest / 100) * this.data.loan.amount;
      return {
        total,
        monthly: total / this.data.loan.duration
      };
    }
  },

  methods: {
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = ["amount", "duration"];
      const {
        data: { loan }
      } = this;
      this.messages = validateAll(fields, loan);
      if (!Object.keys(this.messages).length)
        this.$emit("done", { ...this.data, request_period_id: 2 });
    },
    getDurationType(type) {
      return ["Day(s)", "Week(s)", "Month(s)"][type - 1];
    }
  }
};
</script>
