<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your next of kin information</h4>
      <p class="subtitle is-6 pt-2">All fields are required</p>

      <form class="mt-5" @input="handleInput($event)">
        <div class="title is-4 text-center"></div>
        <b-field
          label="Full name"
          label-position="inside"
          :type="messages.fullname && 'is-danger'"
          :message="messages.fullname"
        >
          <b-input size="is-medium" v-model.trim="data.nok.fullname" name="fullname"></b-input>
        </b-field>

        <b-field
          label="Email"
          label-position="inside"
          :type="messages.email && 'is-danger'"
          :message="messages.email"
        >
          <b-input size="is-medium" type="email" v-model.trim="data.nok.email" name="email"></b-input>
        </b-field>

        <b-field
          label="Phone number"
          label-position="inside"
          :type="messages.phone && 'is-danger'"
          :message="messages.phone"
        >
          <b-input size="is-medium" type="number" v-model.trim="data.nok.phone" name="phone"></b-input>
        </b-field>

        <b-field
          label="Address"
          label-position="inside"
          :type="messages.address && 'is-danger'"
          :message="messages.address"
        >
          <b-input size="is-medium" type="text" v-model.trim="data.nok.address" name="address"></b-input>
        </b-field>

        <b-field
          label="Relationship"
          label-position="inside"
          :type="messages.relationship && 'is-danger'"
          :message="messages.relationship"
        >
          <b-select
            placeholder="Select one"
            size="is-medium"
            class="b-select"
            :value="data.nok.relationship"
            name="relationship"
            @input.native="($event) => { data.nok.relationship = $event.target.value }"
          >
            <option value="parent">Parent</option>
            <option value="spouse">Spouse</option>
            <option value="sibling">Sibling</option>
            <option value="child">Child</option>
            <option value="relative">Relative</option>
            <option value="friend">Friend</option>
          </b-select>
        </b-field>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        Next
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Nok",

  props: {
    initialData: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      data: this.initialData,
      messages: {}
    };
  },

  methods: {
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = ["fullname", "email", "phone", "address", "relationship"];
      const {
        data: { nok }
      } = this;
      this.messages = validateAll(fields, nok);
      if (!Object.keys(this.messages).length) this.$emit("done", this.data);
    }
  }
};
</script>
