<template>
  <div class="card mb-5">
    <div class="card-content">
      <h4 class="title is-4">Provide your personal information</h4>
      <p class="subtitle is-6 pt-2">All fields are required</p>

      <form class="mt-5" @input="handleInput($event)">
        <div class="title is-4 text-center"></div>
        <b-field
          label="Full name"
          label-position="inside"
          :type="messages.fullname && 'is-danger'"
          :message="messages.fullname"
        >
          <b-input
            size="is-medium"
            v-model.trim="data.profile.fullname"
            name="fullname"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Email"
          label-position="inside"
          :type="messages.email && 'is-danger'"
          :message="messages.email"
        >
          <b-input
            size="is-medium"
            type="email"
            v-model.trim="data.profile.email"
            name="email"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Phone number"
          label-position="inside"
          :type="messages.phone && 'is-danger'"
          :message="messages.phone"
        >
          <b-input
            size="is-medium"
            type="number"
            v-model.trim="data.profile.phone"
            name="phone"
            :disabled="isLoggedIn"
          ></b-input>
        </b-field>

        <b-field
          label="Date of birth"
          label-position="inside"
          :type="messages.dob && 'is-danger'"
          :message="messages.dob"
          :disabled="isLoggedIn"
        >
          <b-datepicker
            size="is-medium"
            placeholder="Click to select..."
            icon="calendar-today"
            v-model="data.profile.dob"
            :date-parser="(date) => new Date(Date.parse(date))"
            :date-formatter="(date) => date.toLocaleDateString()"
            name="dob"
            :disabled="isLoggedIn"
          ></b-datepicker>
        </b-field>

        <b-field
          label="Address"
          label-position="inside"
          :type="messages.address && 'is-danger'"
          :message="messages.address"
        >
          <b-input size="is-medium" type="text" v-model.trim="data.profile.address" name="address"></b-input>
        </b-field>

        <b-field
          label="State of residence"
          label-position="inside"
          :type="messages.state && 'is-danger'"
          :message="messages.state"
        >
          <b-select
            placeholder="Select state"
            size="is-medium"
            class="b-select"
            :value="data.profile.state"
            name="state"
            @input.native="($event) => { data.profile.state = $event.target.value }"
          >
            <option disabled v-if="loadingStates" key="99999">Loading..</option>
            <option :value="state.id" v-for="state in states" :key="state.id">{{ state.name }}</option>
          </b-select>
        </b-field>

        <b-field
          v-if="!isLoggedIn"
          label="Password"
          label-position="inside"
          :type="messages.password && 'is-danger'"
          :message="messages.password"
        >
          <b-input
            size="is-medium"
            type="password"
            password-reveal
            v-model.trim="data.profile.password"
            name="password"
          ></b-input>
        </b-field>
      </form>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item font-weight-bold" @click="$emit('back')">
        <i class="fa fa-chevron-left mr-3"></i> Previous
      </a>
      <a class="card-footer-item font-weight-bold" @click="submit()">
        {{ isLoggedIn ? 'Next' : 'Register' }}
        <i class="fa fa-chevron-right ml-3"></i>
      </a>
    </footer>

    <b-loading :is-full-page="false" :active.sync="loading"></b-loading>
  </div>
</template>

<script>
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Profile",

  props: {
    initialData: {
      type: Object,
      required: true
    },
    isLoggedIn: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      data: this.initialData,
      messages: {},
      states: [],
      loadingStates: false,
      loading: false
    };
  },

  async created() {
    if (this.data.profile.dob) {
      this.data = {
        ...this.data,
        profile: { ...this.data.profile, dob: new Date(this.data.profile.dob) }
      };
    }
    this.states = await this.getStates();
  },

  methods: {
    async getStates() {
      this.loadingStates = true;
      const res = await this.$axios.get("/states");
      this.loadingStates = false;
      return res.data.data;
    },
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    async submit() {
      const fields = [
        "fullname",
        "email",
        "phone",
        "dob",
        "address",
        "state",
        "password"
      ].filter(field =>
        this.isLoggedIn
          ? !field.match(/fullname|email|phone|dob|password/)
          : true
      );
      const {
        data: { profile }
      } = this;
      this.messages = validateAll(fields, profile);
      if (!Object.keys(this.messages).length) {
        if (this.isLoggedIn) return this.$emit("done", { ...this.data });
        this.loading = true;
        const user_id = await this.register(profile.fullname, profile.email);
        this.loading = false;
        if (user_id) this.$emit("done", { ...this.data, user_id });
      }
    },
    async register(NAME, EMAIL) {
      try {
        const { data } = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/webapi/v1/register",
          data: { NAME, EMAIL }
        });
        return data.data.user_id;
      } catch (error) {
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message:
            error.response.data.message ||
            "An error occured, please try again!",
          type: "is-danger",
          position: "is-top"
        });
        return false;
      }
    }
  }
};
</script>
