<template>
  <main class="main">
    <Navbar />

    <section class="hero-area other-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="hero-text">
              <h1>Your Leading P2P Lending Marketplace</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <b-loading :is-full-page="false" :active.sync="network.loading" :can-cancel="false"></b-loading> -->

    <!-- <section class="spad" v-if="!network.loading && !network.error && requests.length"> -->

    <section class="spad">
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-half">
            <div class="d-flex justify-content-between flex-wrap align-items-center">
              <b-button
                type="is-primary"
                outlined
                rounded
                icon-left="arrow-left"
                @click="$router.push('/marketplace')"
              >Back</b-button>
              <b-button
                type="is-info"
                @click="confirm()"
                v-if="isLoggedIn"
                :disabled="changingAmount"
              >Start Investing</b-button>
            </div>
            <br />
            <div class="card details">
              <div class="card-body">
                <div class="items">
                  <div class="item">
                    <div class="icon">
                      <i class="fa fa-money-check-alt"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="value">
                        <div class="d-flex align-items-center" v-if="!changingAmount">
                          <span>&#8358;{{ request.REQUEST_PRINCIPAL }}</span>
                          <b-button
                            type="is-dark"
                            size="is-small"
                            class="ml-3"
                            @click="changingAmount = true"
                            v-if="isLoggedIn"
                            rounded
                          >Click to change amount</b-button>
                        </div>
                        <div class="d-flex align-items-center" v-else>
                          <b-field>
                            <b-input
                              placeholder="Number"
                              type="number"
                              v-model="request.REQUEST_PRINCIPAL"
                            ></b-input>
                          </b-field>
                          <b-button
                            type="is-success"
                            size="is-small"
                            class="ml-3"
                            @click="changeAmount()"
                          >Change</b-button>
                        </div>
                      </div>
                      <b-tag type="is-warning" size="is-small" rounded>Amount</b-tag>
                    </div>
                  </div>
                  <div class="item">
                    <div class="icon">
                      <i class="fa fa-percentage"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="value">{{ request.REQUEST_RATE }}%</div>
                      <b-tag type="is-primary" size="is-small" rounded>Rate</b-tag>
                    </div>
                  </div>
                  <div class="item">
                    <div class="icon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>
                        <div class="value">{{ request.REQUEST_TENOR }} {{ request.LOAN_DURATION }}</div>
                        <p>{{ request.TIME_LEFT }} day(s) left</p>
                      </div>
                      <div>
                        <b-tag type="is-info" size="is-small" rounded>Duration</b-tag>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="text-center d-flex align-items-center justify-content-center mt-4"
              v-if="!isLoggedIn"
            >
              <b-button type="is-info" @click="invest('/invest/apply')">Register</b-button>
              <span class="mr-2 ml-2">or</span>
              <b-button type="is-info" outlined @click="invest('/login')">Login</b-button>
              <span class="ml-2">to invest.</span>
            </div>
          </div>
          <div class="column"></div>
          <!-- <div class="column is-half">
            <div class="services-item amount card">
              <div class="card-image">
                <img
                  :src="
                      request.image ||
                        'https://images.pexels.com/photos/3336176/pexels-photo-3336176.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
                    "
                  alt="Placeholder image"
                />
              </div>
            </div>
          </div>-->
        </div>

        <div class="row"></div>
      </div>
    </section>

    <Footer />

    <b-modal
      :active.sync="modals['fund'].visible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      @close="closeModal('fund')"
    >
      <FundWallet
        :initialAmount="parseInt(request.REQUEST_PRINCIPAL, 10)"
        @done="fundWalletDone($event)"
      />
    </b-modal>
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import FundWallet from "~/components/modals/FundWallet";
import modals from "~/mixins/modal";

export default {
  name: "MarketPlaceDetails",

  mixins: [modals],

  components: {
    Navbar,
    FundWallet
  },

  created() {
    this.addModal("fund");
  },

  data() {
    return {
      request: JSON.parse(
        JSON.stringify(this.$store.getters["marketplace/current"])
      ),
      originalAmount: this.$store.getters["marketplace/current"]
        .REQUEST_PRINCIPAL,
      user: this.$store.state.auth.user,
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false,
      changingAmount: false
    };
  },

  methods: {
    invest(page) {
      this.$store.commit("marketplace/setInvesting", true);
      this.$router.push(page);
    },

    confirm() {
      return new Promise((resolve, reject) => {
        this.$buefy.dialog.confirm({
          message: "Are you sure you want to start this investment?",
          onConfirm: async () => {
            const done = await this.sendInvestRequest();
          },
          cancelText: "No",
          confirmText: "Yes",
          type: "is-success"
        });
      });
    },

    async sendInvestRequest() {
      const loading = this.$buefy.loading.open({ container: null });
      const token = localStorage.getItem("token");
      try {
        const res = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/market/invest",
          data: {
            REQUEST_ID: this.request.REQUEST_ID,
            BID_PRINCIPAL: this.request.REQUEST_PRINCIPAL,
            RATE_FIXED: "1",
            token
          }
        });
        if (res.data.status) {
          loading.close();
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-success",
            position: "is-top"
          });
        }
        return true;
      } catch (err) {
        loading.close();
        if (err.response.data.status_code === "11")
          return this.showFundConfirm();

        const message = err.response.data.message
          ? err.response.data.message
          : "An unknown error occurred, please try again";

        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message,
          type: "is-error",
          position: "is-top"
        });
        return false;
      }
    },

    showFundConfirm() {
      this.$buefy.dialog.confirm({
        message:
          "You dont have enough funds in your account. Do you want to fund your account and make this investment now?",
        onConfirm: async () => {
          this.openModal("fund");
        },
        cancelText: "No",
        confirmText: "Yes",
        type: "is-error"
      });
    },

    changeAmount() {
      const amount = this.request.REQUEST_PRINCIPAL;
      const max = +this.originalAmount;
      const min = Math.floor(max / 3);
      if (amount < min || amount > max)
        return this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: `Amount should be within range ${min} - ${max}`,
          type: "is-error",
          position: "is-top"
        });
      this.changingAmount = false;
    },

    fundWalletDone(e) {
      this.closeModal("fund");
      this.sendInvestRequest();
    }
  },

  middleware: ["marketplace"]
};
</script>

<style lang="scss" scoped>
.card-footer-item {
  line-height: 7px;
}
.card-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.spad {
  padding: 3rem 0;
}

.details {
  .owing {
    padding: 1rem 0 2rem;
    .label {
      font-size: 1rem;
      padding: 5px 7px;
      border-radius: 6px;
      background: rgba(139, 46, 46, 0.137);
      color: rgb(139, 46, 46);
      display: inline-block;
    }
    .value {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .items {
    .item {
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 0;
      &:last-child {
        border: 0;
      }
      > *:not(.icon) {
        flex: 1;
      }
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.04);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }
      .value {
        font: inherit;
        font-size: 1.5rem;
      }
      .label {
        margin-left: 10px;
        font-size: 0.87rem;
        padding: 1px 7px;
        border-radius: 3px;
        background: rgba(52, 46, 139, 0.137);
        color: rgb(48, 46, 139);
        display: inline-block;
      }
    }
  }
}

/deep/ .field {
  margin: 0;
}

/deep/ .control input {
  width: 120px;
  margin: 0;
}
</style>