<template>
  <main class="main">
    <Navbar />

    <section class="hero-area other-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="hero-text">
              <h1>Your Leading P2P Lending Marketplace</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="spad pb-0" v-if="isLoggedIn">
      <div class="container">
        <b-tabs type="is-boxed" v-model="current">
          <b-tab-item label="Marketplace"></b-tab-item>
          <b-tab-item label="My Investments"></b-tab-item>
        </b-tabs>
      </div>
    </div>
    <div class="spad pb-0" v-else>
      <div class="container">
        <b-message type="is-warning">
          <div class="d-flex align-items-center justify-content-between">
            You are not logged in, login to start investing in the marketplace
            <b-button type="is-warning" @click="invest()">Login to Invest</b-button>
          </div>
        </b-message>
      </div>
    </div>

    <div v-show="current === 0">
      <MarketPlaceHome />
    </div>

    <div v-show="current === 1">
      <MarketPlaceInvestments />
    </div>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";
import MarketPlaceInvestments from "~/components/marketplace/Investments";
import MarketPlaceHome from "~/components/marketplace/Home";
import network from "~/mixins/network";
import moment from "moment";

export default {
  name: "MarketPlace",

  mixins: [network],

  components: {
    MarketPlaceInvestments,
    MarketPlaceHome,
    Navbar,
    Footer
  },

  head() {
    return {
      title: "Marketplace -  Get Loans, Save, Invest & Earn - Sycamore.ng",
      meta: [
        {
          hid: "marketplace-description",
          name: "description",
          content:
            "Sycamore is a secured Peer-to-Peer Lending Platform to get access to loans (personal or business loans) and to grow your wealth by earning from lending to borrowers."
        },
        {
          hid: "marketplace-keywords",
          name: "keywords",
          content:
            "marketplace, sycamore, investment, investment in Nigeria, savings in Nigeria"
        }
      ]
    };
  },

  data() {
    return {
      current: 0,
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false
    };
  },

  methods: {
    invest() {
      this.$store.commit("marketplace/setInvesting", true);
      this.$router.push("/login");
    }
  }
};
</script>

<style lang="scss" scoped>
.spad {
  padding: 3rem 0;
}

/deep/ .tabs.is-boxed li.is-active a {
  background: #7957d505;
}
</style>