<template>
  <nuxt />
</template>

<script>
const apiKey = process.env.apiKey;

export default {
  methods: {
    async getLender() {
      try {
        const res = await this.$axios({
          method: "POST",
          url: "/apikey",
          data: { apikey: apiKey }
        });
        const { PLATFORM_ID, CARD_REQUEST_FEE } = res.data.message.lender;
        const lender = { PLATFORM_ID, CARD_REQUEST_FEE };
        this.$store.commit("application/setLender", lender);
      } catch (e) {
        console.dir({ e });
      }
    },
    async getSettings() {
      // this.loading = true;
      try {
        const {
          data: {
            data: {
              amount,
              interest,
              tenor: {
                type: [duration]
              },
              product: { LOAN_PRODUCT_ID, BASE_DURATION_TYPE }
            }
          }
        } = await this.$axios({
          method: "GET",
          url: "/loan/settings"
        });
        const settings = {
          min: parseInt(amount.minimum, 10),
          max: parseInt(amount.maximum, 10),
          step: parseInt(amount.interval, 10),
          interest: parseInt(interest.rate, 10),
          duration,
          loan_product_id: LOAN_PRODUCT_ID,
          request_period_id: parseInt(BASE_DURATION_TYPE, 10)
        };
        // this.loading = false;
        this.$store.commit("application/setSettings", settings);
      } catch (e) {
        // this.loading = false;
        console.dir({ e });
      }
    }
  },
  async created() {
    this.getLender();
    this.getSettings();
  }
};
</script>

<style lang="scss">
html {
  font-size: 14px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-ban {
  cursor: not-allowed;
}
.round-icon {
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: steelblue;
}
.button {
  font: inherit;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
}

$brand-red: #b63239;
.button.is-danger {
  background-color: $brand-red;
  &:hover,
  &.active {
    background-color: darken($brand-red, 10);
  }
}

.button.is-danger.is-outlined {
  background-color: transparent;
  border-color: $brand-red;
  color: $brand-red;
  &:hover {
    border-color: $brand-red;
    background-color: $brand-red;
  }
}

.list-dots {
  list-style: initial;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0.1);

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: initial;
  float: initial;
  min-width: initial;
  padding: initial;
  margin: initial;
  font-size: initial;
  color: initial;
  text-align: initial;
  list-style: initial;
  background-color: initial;
  background-clip: initial;
  border: initial;
  border-radius: initial;
}
.b-select {
  flex: 1;
  .select,
  select {
    width: 100%;
  }
}
</style>
