<template>
  <main class="main">
    <Navbar />

    <section class="about-us spad bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="about-left">
              <div class="section-title">
                <h1>About Us</h1>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <p class="second-text pr-5">
                    Sycamore is run by an experienced team of financial and
                    technology professionals, with several years of industry
                    experience. It’s no secret that access to finance is one of the
                    main issues affecting the rapid growth of individuals and
                    businesses in Africa. Our approach to tacking the issue of
                    access to finance is somewhat different: 
                    <br /><br />
                    <ul class="list-dots">
                        <li>We believe in responsible lending: a loan should lift one up financially.</li>
                        <li>We encourage responsible budgeting and spending.</li>
                        <li>We also believe in earning as a way to financial freedom (and encourage customers to earn through our P2P service)</li>
                    </ul>
                  </p>
                  <b-button class="mt-4" type="is-primary" size="is-medium" tag="a" href="/docs/sycamore.ng-company-brochure-2020.pdf" target="_blank">Download Brochure</b-button>
                </div>
                <div class="col-lg-5">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="about-img">
                        <img src="/img/about.jpg" alt="Sycamore Team" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services-section">
      <div class="container">
        <h3 class="title is-3 text-center mb-6">
          Our Team
        </h3>
        <br />
        <br />
        <div class="row">
          <div class="col-lg-4 col-sm-6" v-for="(user, i) in team" :key="i">
            <div class="services-item card">
              <div class="si-text card-body px-5 py-5">
                <a class="si-pic mb-4 overflow-hidden" :href="user.linkedin" target="_blank">
                  <img :src="user.image"/>
                </a>
                <h3>{{ user.name }} ({{ user.title }})</h3>
                <p>{{ user.about }}</p>
                
                <b-button type="is-info" icon-pack="fab" class="mt-4"
                icon-right="linkedin" tag="a" :href="user.linkedin" target="_blank"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <AboutInfoGraphic />
    </section>
    <Footer />
  </main>
</template>

<script>
import Navbar from '~/components/Navbar';
import Footer from '~/components/Footer';
import AboutInfoGraphic from '~/components/AboutInfoGraphic';

const team = [
  {
    image: '/img/team/tunde.jpeg',
    name: 'Babatunde Akin Moses',
    title: 'CEO',
    about: 'My job is to ensure that everyone who deals with Sycamore, gets immense value from the relationship: customers, employees, vendors, shareholders, everyone!',
    linkedin: 'https://www.linkedin.com/in/babatundeakinmoses/'
  },
  {
    image: '/img/team/onyinye.jpeg',
    name: 'Onyinyechukwuka Okonji',
    title: 'CMO',
    about: 'I am a stickler for great customer experiences and believe in the effectiveness of Word of Mouth Marketing for brand advocacy and loyalty',
    linkedin: 'https://www.linkedin.com/in/onyinyeokonji/'
  },
  {
    image: '/img/team/mayowa.jpeg',
    name: 'Mayowa Adeosun',
    title: 'COO',
    about: 'I believe in the importance of smooth, timely and efficient business processes that positively contribute to the delivery of exceptional customer service.',
    linkedin: 'https://www.linkedin.com/in/mayowa-adeosun-mba-b4992754/'
  }
];

export default {
  name: 'About',

  data() {
    return {
      team
    }
  },

  head() {
    return {
      title: "About Sycamore -  Get Loans, Save, Invest & Earn - Sycamore.ng",
      meta: [
        {
          hid: "about-description",
          name: "description",
          content:
            "About Sycamore - Sycamore is a secured Peer-to-Peer Lending Platform to get access to loans (personal or business loans) and grow your wealth"
        },
        {
          hid: "about-keywords",
          name: "keywords",
          content:
            "about sycamore, marketplace, sycamore, investment, investment in Nigeria, savings in Nigeria"
        },
        
      ]
    };
  },

  components: {
    Navbar, Footer, AboutInfoGraphic
  }
}
</script>
