<template>
  <main class="main">
    <Navbar />
    <section class="contact-section spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-title">
                  <div class="section-title">
                    <h1>Contact Us</h1>
                  </div>
                </div>
              </div>
            </div>
            <form action="#" class="contact-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Your name" />
                </div>
                <div class="col-lg-6">
                  <input type="email" placeholder="Your email" />
                </div>
                <div class="col-lg-12">
                  <input type="text" class="subject" placeholder="Subject" />
                  <textarea placeholder="Message"></textarea>
                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="info-box">
              <!-- <img src="/img/contact-logo.png" alt="" /> -->
              <img src="/img/logo-colored.png" alt="Logo" :style="{ width: '150px' }" />
              <ul>
                <li>
                  15, Modupe Johnson Crescent,
                  <br />Surulere, Lagos
                  <!-- Bar Beach Towers, 
                  Bishop Oluwole Street, <br />
                  Victoria Island-->
                </li>
                <li>+2348097341810</li>
                <li>info@sycamore.ng</li>
                <li>Everyday: 08:30 - 17:00</li>
              </ul>
              <div class="social-links">
                <!-- <a>
                  <i class="fa fa-facebook"></i>
                </a>
                <a>
                  <i class="fa fa-instagram"></i>
                </a>
                <a>
                  <i class="fa fa-linkedin"></i>
                </a>
                <a>
                  <i class="fa fa-pinterest"></i>
                </a>
                <a>
                  <i class="fa fa-twitter"></i>
                </a>
                <a>
                  <i class="fa fa-youtube-play"></i>
                </a>-->
                <a target="_blank" class="link" href="https://www.facebook.com/Sycamore.NG/">
                  <i class="fab fa-facebook"></i>
                </a>
                <a target="_blank" class="link" href="https://twitter.com/FinanceSycamore">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" class="link" href="https://www.instagram.com/sycamoreng/">
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  target="_blank"
                  class="link"
                  href="https://www.linkedin.com/company/sycamore-finance/"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" class="link" href="https://medium.com/@sycamorefinance">
                  <i class="fab fa-medium"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";

export default {
  name: "Contact",

  components: {
    Navbar,
    Footer
  },

  head() {
    return {
      title: "Contact Sycamore -  Get Loans, Save, Invest & Earn - Sycamore.ng",
      meta: [
        {
          hid: "contact-description",
          name: "description",
          content:
            "Contact Sycamore - Get Loans, Save, Invest & Earn today. Talk to a customer service representative or visit us at our office."
        },
        {
          hid: "contact-keywords",
          name: "keywords",
          content:
            "contact sycamore, sycamore, investment, investment in Nigeria, savings in Nigeria"
        }
      ]
    };
  }
};
</script>
