<template>
  <main class="main">
    <Navbar />

    <section class="hero-area other-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="hero-text">
              <h1>Frequently Asked Questions</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section" id="faq">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-start justify-content-center mt-6 mb-0">
            <div class="about-pic mt-5" style="position: sticky; top: 0">
              <img src="/img/faq.png" alt="FAQ" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <h2 class="title is-5 text-danger font-weight-bold mb-4 m-2">For New Loans</h2>
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >Do I qualify for a loan?</h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>You should be between 22 and 59 years old.</li>
                        <li>You must run an account</li>
                        <li>You must live and work in Lagos State</li>
                        <li>You must have a verifiable source of income</li>
                        <li>You must have a clean Credit Bureau Report</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >What documents do I need to present to get a loan?</h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>Account statement for the most recent six months</li>
                        <li>Signed online Direct Debit form</li>
                        <li>Valid proof of identification</li>
                        <li>Proof of residency (Utility Bill)</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >How do I apply?</h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>
                          Online -
                          <a href="https://sycamore.ng">www.sycamore.ng</a>
                        </li>
                        <li>Branch - 15, Modupe Johnson Crescent, Surulere, Lagos</li>
                        <li>
                          Telephone -
                          <a href="tel:+2348097341810">08097341810</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >How much can I get from Sycamore?</h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Depending on your current capacity and risk profile, you
                      can access up to {{ 3 | currency }} million.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                    >Will the details of my loan be disclosed to a third party?</h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      In case of default, we reserve the right to contact your
                      employers, Next of Kin and involve a third-party
                      collections body in an attempt to collect.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="false"
                      aria-controls="collapseSix"
                    >Are there any upfronts payments to be made?</h2>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">There are no upfront payments or hidden charges at all</div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseSeven"
                      aria-expanded="false"
                      aria-controls="collapseSeven"
                    >Does Sycamore support business that are just starting?</h2>
                  </div>
                  <div
                    id="collapseSeven"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      This is relative. We consider businesses that have
                      complete registration documentation and at least 6 months
                      of cash flow in their business account.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseEight"
                      aria-expanded="false"
                      aria-controls="collapseEight"
                    >Does Sycamore have a preferred industry that they support?</h2>
                  </div>
                  <div
                    id="collapseEight"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      No, we are non-discriminatory lenders who support local
                      businesses by providing working capital extensions.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseNine"
                      aria-expanded="false"
                      aria-controls="collapseNine"
                    >Are there any associated fees?</h2>
                  </div>
                  <div
                    id="collapseNine"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div
                      class="card-body"
                    >Outside of the interest, there are no other charges. Interest is charged flat monthly on the amount disbursed</div>
                  </div>
                </div>
              </div>

              <!-- Existing customer -->
              <h2 class="title is-5 text-danger font-weight-bold mt-4 mb-4 m-2">Existing customers</h2>
              <div class="accordion" id="accordionExample2">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondOne"
                      aria-expanded="true"
                      aria-controls="secondOne"
                    >Can I get another loan while one is still running?</h2>
                  </div>

                  <div
                    id="secondOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>You can apply for a top up while your current loan is running</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondTwo"
                      aria-expanded="true"
                      aria-controls="secondTwo"
                    >My debit card is missing or expired?</h2>
                  </div>

                  <div
                    id="secondTwo"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>When you get a new debit card, please send us an email via info@sycamore.ng to set up the new card.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondThree"
                      aria-expanded="true"
                      aria-controls="secondThree"
                    >Do I need to submit all my documents again to reapply?</h2>
                  </div>

                  <div
                    id="secondThree"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>Send us your bank statement for the last 3 months to info@sycamore.ng</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondFour"
                      aria-expanded="true"
                      aria-controls="secondFour"
                    >Can I liquidate in part or in full before my repayment is due?</h2>
                  </div>

                  <div
                    id="secondFour"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>Yes, please. You can confirm the liquidation amount from your online profile and make a transfer into our account: GTBank 0451776148 or ask us to directly debit the amount from your account. Send an email to info@sycamore.ng if you have further questions.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondFive"
                      aria-expanded="true"
                      aria-controls="secondFive"
                    >What happens if I change jobs and salary date changes?</h2>
                  </div>

                  <div
                    id="secondFive"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>Please send us a mail via info@sycamore.ng</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#secondSix"
                      aria-expanded="true"
                      aria-controls="secondSix"
                    >What happens if I cannot make a payment?</h2>
                  </div>

                  <div
                    id="secondSix"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample2"
                  >
                    <div class="card-body">
                      <p>Please send us a mail via info@sycamore.ng</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Collections -->
              <h2 class="title is-5 text-danger font-weight-bold mt-4 mb-4 m-2">Collections</h2>
              <div class="accordion" id="accordionExample3">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdOne"
                      aria-expanded="true"
                      aria-controls="thirdOne"
                    >How do I make repayments on my loan?</h2>
                  </div>

                  <div
                    id="thirdOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <ul>
                        <li>Repayments can be made directly into our account: GTBank 0451776148.</li>
                        <li>Automatic debits via online Direct Debit Mandate or card</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdTwo"
                      aria-expanded="true"
                      aria-controls="thirdTwo"
                    >How about if I want to make a repayment before my payment is due?</h2>
                  </div>

                  <div
                    id="thirdTwo"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>Repayments can be made into our account: GTBank 0451776148 and send us an email with the evidence via info@sycamore.ng</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdThree"
                      aria-expanded="true"
                      aria-controls="thirdThree"
                    >My salary is going to be delayed; what will happen to my repayment?</h2>
                  </div>

                  <div
                    id="thirdThree"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>You will incur extra interest per day delayed. Please log in to view accrued default charges.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdFour"
                      aria-expanded="true"
                      aria-controls="thirdFour"
                    >There's been a second debit on my account?</h2>
                  </div>

                  <div
                    id="thirdFour"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>Please send us an email via info@sycamore.ng with the evidence of your first payment. The second debit will be refunded on the same day.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdFive"
                      aria-expanded="true"
                      aria-controls="thirdFive"
                    >I have relocated outside Lagos, can I keep using the Loan?</h2>
                  </div>

                  <div
                    id="thirdFive"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>Please send an email with details of your relocation to info@sycamore.ng.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdSix"
                      aria-expanded="true"
                      aria-controls="thirdSix"
                    >Can I make payments before my repayment is due?</h2>
                  </div>

                  <div
                    id="thirdSix"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>Yes, please. Send us an email – info@sycamore.ng about your intention to pay early and make the payment at least 24 hours before your due date to avoid a second debit.</p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#thirdSeven"
                      aria-expanded="true"
                      aria-controls="thirdSeven"
                    >Will I be charged for early liquidation?</h2>
                  </div>

                  <div
                    id="thirdSeven"
                    class="collapse"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample3"
                  >
                    <div class="card-body">
                      <p>No. The amount due will only consist of the outstanding principal and accrued interest.</p>
                    </div>
                  </div>
                </div>
              </div>

              <h2
                class="title is-5 text-danger font-weight-bold mt-4 mb-4 m-2"
              >More about lending and investing with Sycamore.</h2>
              <div class="accordion" id="accordionExample4">
                <div class="card" v-for="(faq, i) in faqs" :key="i">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      :data-target="'#collapse'+i"
                    >{{ faq.q }}?</h2>
                  </div>

                  <div :id="'collapse'+i" class="collapse" data-parent="#accordionExample4">
                    <div class="card-body">
                      <p>{{ faq.a }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";

const faqs = [
  {
    q: "How do I invest/lend with sycamore?",
    a:
      "Simply click on the “Start Investing” button above, and follow the instructions by providing the relevant information. You will need to fund your wallet using your debit card. Alternatively, you can make a direct transfer to our bank account (GTBank 0451776148) to fund you wallet. Please send an email to info@sycamore.ng or call 08097341810 if you have any questions."
  },
  {
    q: "What are the minimum and maximum amounts I can lend?",
    a:
      "The minimum amount you can lend is N100,000 (one hundred thousand naira only). There is no maximum amount."
  },
  {
    q: "Is my money safe with you?",
    a:
      "Lending to us is a safe bet as your money is covered under our insurance policy, and backed by security. We have also obtained a lending license from the Lagos State Government authority. Most importantly, we have never defaulted on payout to date."
  },
  {
    q: "If I want to liquidate, how long is going to be to get my money?",
    a:
      "You will receive your money 24 hours after your request has been received. Please ensure that all requests are sent via email to info@sycamre.ng"
  },
  {
    q: "How do I request for my money back?",
    a: "Please send your request via info@sycamore.ng"
  },
  {
    q: "Are there charges on my money with you?",
    a: "A 10% Withholding Tax (WHT) is mandatory on interest accrued."
  },
  {
    q: "Will I be charged for early liquidation?",
    a:
      "Yes,  you will be charged 30% of the total accrued interest. Please refer to your agreement."
  }
];

export default {
  name: "HomePage",

  data() {
    return {
      faqs
    };
  },

  head() {
    return {
      title:
        "Frequently Asked Questions -  Get Loans, Save, Invest & Earn - Sycamore.ng",
      meta: [
        {
          hid: "faq-description",
          name: "description",
          content:
            "Sycamore FAQs - Learn about borrowing and lending on Sycamore, a secured Peer-to-Peer Lending Platform"
        },
        {
          hid: "faq-keywords",
          name: "keywords",
          content:
            "sycamore faq, sycamore, investment, investment in Nigeria, savings in Nigeria"
        }
      ]
    };
  },

  components: {
    Navbar,
    Footer
  }
};
</script>
