<template>
  <main class="main">
    <Navbar />

    <section class="hero-area set-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="landing-title">Achieve more with Sycamore</h1>
            <section class="search-filter">
              <div class="check-form">
                <div class="top">
                  <!-- <div class="hero-text text-left">
                    <h1>Need a Loan? Start here.</h1>
                  </div>-->
                  <div class="tabs">
                    <div
                      class="tab-item"
                      :class="{ active: view === 'borrow' }"
                      @click="view = 'borrow'"
                    >Borrow</div>
                    <div
                      class="tab-item"
                      :class="{ active: view === 'invest' }"
                      @click="view = 'invest'"
                    >Invest</div>
                  </div>
                </div>
                <form class="bottom" v-if="view === 'borrow'">
                  <!-- <h4 class="form-title">Talk to us.</h4> -->
                  <div class="d-flex align-items-start flex-column flex-md-row align-items-md-end">
                    <div class="item card mb-2 flex-grow-1 w-100">
                      <p class="label">How much do you need?</p>
                      <b-field>
                        <b-numberinput type="is-light" v-model="amount" step="1000"></b-numberinput>
                      </b-field>
                    </div>
                    <div class="item card mb-2 flex-grow-1 w-100">
                      <p class="label">Entrepreneur or Employee?</p>
                      <b-field>
                        <b-select placeholder="Entreprenuer or Employee?" class="b-select">
                          <option value="entreprenuer">Entreprenuer</option>
                          <option value="employee">Employee</option>
                        </b-select>
                      </b-field>
                    </div>
                  </div>
                  <div class="text-center">
                    <b-button class="mt-2" type="is-danger" @click="startBorrow()">Start here</b-button>
                  </div>
                </form>
                <form class="bottom" v-if="view === 'invest'">
                  <!-- <h4 class="form-title">Talk to us.</h4> -->
                  <div class="d-flex align-items-start flex-column flex-md-row align-items-md-end">
                    <div class="item card mb-2 flex-grow-1 w-100">
                      <p class="label">How much will you invest?</p>
                      <b-field>
                        <b-numberinput type="is-light" v-model="amount" step="1000"></b-numberinput>
                      </b-field>
                    </div>
                    <div class="item card mb-2 flex-grow-1 w-100">
                      <p class="label">Individual or Institution?</p>
                      <b-field>
                        <b-select placeholder="Individual or Insitution?" class="b-select">
                          <option value="individual">Individual</option>
                          <option value="insitution">Insitution</option>
                        </b-select>
                      </b-field>
                    </div>
                  </div>
                  <div class="text-center">
                    <b-button class="mt-2" type="is-danger" @click="startInvest()">Start here</b-button>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="milestone-counter" style="background: #4d4d4d"> -->
    <!-- <section class="milestone-counter bg-darkblue">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="mc-item">
              <div class="mc-num">
                <span class="counter">150</span>
                <strong>M</strong>
              </div>
              <div class="mc-text">
                <h3>Borowed</h3>
                <p>this year</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mc-item">
              <div class="mc-num">
                <span class="counter">20</span>
                <strong>K</strong>
              </div>
              <div class="mc-text">
                <h3>Happy Customers</h3>
                <p>all year long</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mc-item">
              <div class="mc-num">
                <span class="counter">24/7</span>
              </div>
              <div class="mc-text">
                <h3>Applications</h3>
                <p>on the go</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="sdg-section">
      <div class="container">
        <h3 class="title is-3 text-center mb-6 text-white">Our Awesome Services</h3>
        <br />
        <br />
        <br />
        <div class="row awesome-services">
          <div class="col-md-6">
            <nuxt-link to="/invest/overview" class="item center green">
              <div class="content">
                <div class="title">Lending</div>
                <div
                  class="body"
                >You can make hassle free investments by lending through our platform, straight from your device. Click here to get started.</div>
              </div>
            </nuxt-link>
          </div>
          <div class="col-md-6">
            <nuxt-link to="/borrow/apply" class="item center red">
              <div class="content">
                <div class="title">Borrowing</div>
                <div
                  class="body"
                >Whether its for personal or business reasons, Sycamore has got a loan for you. Click here to get a loan from us today.</div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="marketplace-section">
      <div class="container">
        <h3 class="title is-3 text-center mb-6 text-white">Invest in our Marketplace</h3>
        <br />
        <br />
        <br />
        <MarketplaceSlide />
      </div>
    </section>-->

    <!-- <section class="services-section py-6">
      <div class="container">
        <h3 class="title is-3 text-center mb-6">Our customer focused loan products</h3>
        <br />
        <br />
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="services-item card">
              <div class="si-text card-body px-5 py-5">
                <div class="si-pic mb-4">
                  <div class="service-icon">
                    <i class="fa fa-users"></i>
                  </div>
                </div>
                <h3>Peer to Peer Lending</h3>
                <p>You can lend or borrow money here at any time.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services-item card">
              <div class="si-text card-body px-5 py-5">
                <div class="si-pic mb-4">
                  <div class="service-icon">
                    <i class="fa fa-money-bill-alt"></i>
                  </div>
                </div>
                <h3>Personal Loans</h3>
                <p>Relying on secure technologies and the BVN infrastructure,</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services-item card">
              <div class="si-text card-body px-5 py-5">
                <div class="si-pic mb-4">
                  <div class="service-icon">
                    <i class="fa fa-building"></i>
                  </div>
                </div>
                <h3>Small Business Loans</h3>
                <p>
                  Get that funding you need
                  <br />to grow.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="testimonial-section spad bg-lightblue">
      <div class="container">
        <h3 class="title is-3 text-center mb-6">Testimonials</h3>
        <br />
        <br />
        <br />
        <div class="owl-carousel owl-theme">
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <h4>Good for Entrepreneurs</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>
              Sycamore is that partner your business needs to
              achieve a continuum of your operations. Their processes are simple
              and effective. All done on-line, from the application to
              Remittance, no physical meetings required. Their customer service
              is excellent and prompt. Remittance with 24hours is real. No
              collateral, no processing fees and Rates are competitive with any
              other Micro-finance Institution. I recommend Sycamore to any
              Business which requires quick and stress less access to funds to
              aid their processes.
            </p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Ola Nnachi
                  <span>MD Corelogic Integrated Services Ltd.</span>
                </h6>
              </div>
            </div>
          </div>
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <h4>Perfect lending / borrowing platform</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>
              Sycamore has been a blessing to the family business. At the time
              when we where short of funds to pay salaries, sycamore came to the
              rescue and sent funds in less than a hour. I also was looking for
              where to put some of my savings and sycamore gave me the best rate
              possible while guaranteeing the safety of my funds. In all
              Sycamore has proven to be the best lending and borrowing platform
              out there.
            </p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Ayodeji Osisami
                  <span>A lender on Sycamore</span>
                </h6>
              </div>
            </div>
          </div>
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <h4>Sycamore made my life easier!</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>I got a new job after my MBA, 2 hours drive from my house. Some days I spend 3 hours in traffic, in total 5 to 6 hours daily. After just one month of doing this, I knew I couldn’t survive this way and decided to move closer to work. I didn’t have enough funds to rent a place in my choice location. I spoke to a friend who suggested I take a loan from Sycamore. I had never taken a loan before and wasn’t sure what to expect. I contacted the Sycamore team and in just a few hours, my loan was processed and approved. To say I was impressed is a gross understatement. The customer centric nature of the company was evident in the way they explained in details to me, and worked with me to structure repayment to fit my inflow. 2 weeks later, I moved to a new home and everyday I drive 25 minutes to work, I say a prayer for the Sycamore team. Thank you for making my life easier❤</p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Chidinma Akaniro
                  <span>Commercial Assistant at US Commercial Service</span>
                </h6>
              </div>
            </div>
          </div>
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <!-- <h4>Seamless</h4> -->
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>I got my loan within 24 hours!!! Well done guys</p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Obelanse Enterprises
                  <!-- <span>Commercial Assistant at US Commercial Service</span> -->
                </h6>
              </div>
            </div>
          </div>
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <!-- <h4>Seamless</h4> -->
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>I really enjoyed the service from Sycamore. It was fast, and the online process was easy and straightforward. We look forward to always working with them.</p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Divine Children’s Place
                  <!-- <span>Commercial Assistant at US Commercial Service</span> -->
                </h6>
              </div>
            </div>
          </div>
          <div
            class="item testimonial-item card card-body h-100 d-flex flex-column justify-content-between"
          >
            <div>
              <!-- <h4>Seamless</h4> -->
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Like I said, you guys are doing something different to attain this height of customer experience. Loans shouldn’t be complicated to apply for and to get. You guys have proven it can be done, and like you affirmed, the TAT (“Turn Around Time”) will even further improve…now that’s what differentiation is all about!</p>
            <div class="ti-author">
              <div class="author-text">
                <h6>
                  Joy Esozie-Amaye
                  <span>Managing Director, The Loaf Lane</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sdg-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="item">
              <div class="sdg-icon">
                <i class="fas fa-hand-holding-usd"></i>
              </div>

              <div class="content">
                <div class="title">SDG ONE</div>
                <div class="subtitle">No poverty</div>
                <div
                  class="body"
                >Eradicating poverty is not a task of charity, it is an act of justice and the key to unlocking an enormous human potential.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="sdg-icon">
                <i class="fas fa-chart-line"></i>
              </div>

              <div class="content">
                <div class="title">SDG 8</div>
                <div class="subtitle">Economic Growth</div>
                <div
                  class="body"
                >Economic growth is the increase in the inflation-adjusted market value of the goods and services produced by an economy over time.</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="sdg-icon">
                <i class="fas fa-not-equal"></i>
              </div>

              <div class="content">
                <div class="title">SDG TEN</div>
                <div class="subtitle">Reduced Inequalities</div>
                <div
                  class="body"
                >Ensure Equal Opportunities and End Discrimination. Ensure equal opportunity and reduce inequalities of outcome,policies.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="partners-section spad bg-white">
      <div class="container">
        <h3 class="title is-3 text-center mb-6">Solutions that work for you</h3>
        <br />
        <br />
        <br />
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/creditclan.png"
              alt="Creditclan's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/flutterwave.png"
              alt="Flutterwave's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/paystack.png"
              alt="Paystack's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img src="/img/partners/lga.png" alt="LGA's logo" style="max-width: 200px" class="mb-5" />
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/remitta.png"
              alt="Remitta's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/nibss.png"
              alt="NIBBS's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img
              src="/img/partners/firstcentral.png"
              alt="First central's logo"
              style="max-width: 200px"
              class="mb-5"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="about-section bg-lightblue">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-pic">
              <!-- <img
                src="https://images.pexels.com/photos/2381069/pexels-photo-2381069.jpeg?cs=srgb&dl=beautiful-business-business-executive-2381069.jpg&fm=jpg"
                alt=""
              />-->
              <img src="/img/more4u.jpg" alt="Hero" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <div class="section-title">
                <span>Welcome to Sycamore</span>
                <h2>At Sycamore, there’s always more for you!</h2>
              </div>
              <p>
                Sycamore is run by an experienced team of financial and
                technology professionals, with several years of industry
                experience. We are not just another online Fintech company.
                Sycamore is on a mission to solve real problems and make impact
                in the process. Read more about our vision.
              </p>
              <nuxt-link to="/about">
                <b-button type="is-danger" size="is-medium" outlined>Learn more</b-button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section" id="faq">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-start justify-content-center mt-6 mb-0">
            <div class="about-pic mt-5">
              <img src="/img/faq.png" alt="FAQ" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <div class="section-title">
                <h2>Frequently Asked Questions</h2>
              </div>

              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >Do I qualify for a loan?</h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>You should be between 22 and 59 years old.</li>
                        <li>You must run an account</li>
                        <li>You must live and work in Lagos State</li>
                        <li>You must have a verifiable source of income</li>
                        <li>You must have a clean Credit Bureau Report</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >What documents do I need to present to get a loan?</h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>Account statement for the most recent six months</li>
                        <li>Signed online Direct Debit form</li>
                        <li>Valid proof of identification</li>
                        <li>Proof of residency (Utility Bill)</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >How do I apply?</h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <ul>
                        <li>
                          Online -
                          <a href="https://sycamore.ng">www.sycamore.ng</a>
                        </li>
                        <li>Branch - 15, Modupe Johnson Crescent, Surulere, Lagos</li>
                        <li>
                          Telephone -
                          <a href="tel:+2348097341810">08097341810</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2
                      class="mb-0 py-2 cursor-pointer text-primary"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >How much can I get from Sycamore?</h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Depending on your current capacity and risk profile, you
                      can access up to {{ 3 | currency }} million.
                    </div>
                  </div>
                </div>

                <nuxt-link to="/faq" class="d-block mt-4">
                  <b-button type="is-danger" size="is-medium" outlined>View more</b-button>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";
import MarketplaceSlide from "~/components/marketplace/MarketplaceSlide";

export default {
  name: "HomePage",

  data() {
    return {
      amount: 0,
      view: "borrow"
    };
  },

  methods: {
    startBorrow() {
      this.$store.commit("application/updateData", {
        loan: { amount: this.amount, duration: 0 }
      });
      this.$router.push("/borrow/apply");
    },
    startInvest() {
      // this.$store.commit("application/updateData", {
      //   loan: { amount: this.amount, duration: 0 }
      // });
      this.$router.push("/invest/apply");
    }
  },

  components: {
    Navbar,
    Footer,
    MarketplaceSlide
  },

  mounted() {
    window.$(".owl-carousel").owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 1
        },
        1000: {
          items: 2
        }
      }
    });
  }
};
</script>

<style lang="scss">
.marketplace-section {
  padding: 8rem 0;
  background: #061135;
}
.sdg-section {
  padding: 8rem 0;
  // background: #04041e;
  background: #061135;

  .item {
    padding: 2rem;
    display: flex;
    // justify-content: space-evenly;
    align-items: stretch;

    &.center {
      max-width: 450px;
      margin: auto;
      text-align: center;
    }

    .sdg-icon {
      font-size: 3rem;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: steelblue;
      border-right: 1px solid rgba(255, 255, 255, 0.08);
      margin-right: 2rem;
      padding-right: 2rem;
    }

    .title {
      // color: #fff;
      color: #f9ad81;
      margin-bottom: 30px;
      font-weight: 700;
    }
    .subtitle {
      margin-bottom: 20px;
      color: #eee;
    }
    .body {
      color: #ccc;
    }
  }
}

.awesome-services {
  max-width: 1000px;
  margin: auto;
  .item {
    background: #000e74;
    // background: lighten(#061135, 3);
    // box-shadow: 0 20px 40px darken($color: #061135, $amount: 0.2);
    border-radius: 5px;
    padding: 4rem 4rem;
    max-width: 550px !important;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px !important;
    &:hover {
      background: lighten(#000e74, 6);
      transform: translateY(-10px);
    }
    &.green {
      background: #2b4306;
      &:hover {
        background: lighten(#2b4306, 6);
      }
    }
    &.red {
      background: #6c1d0e;
      &:hover {
        background: lighten(#6c1d0e, 6);
      }
    }
  }
}

.about-pic img {
  object-position: right;
}

.landing-title {
  // color: #19254c;
  color: #fff;
  font-size: 3rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-weight: bold;

  @media (max-width: 760px) {
    font-size: 2rem;
  }
}
</style>
