<template>
  <main class="main">
    <Navbar />

    <div class="nav-margin">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
              <div class="card-content">
                <h4 class="title is-4">Login</h4>
                <p class="subtitle is-6 pt-2">Login to view the status of your loan or make payments</p>
                <form class="mt-5" @input="handleInput($event)" @submit.prevent="submit()">
                  <div class="title is-4 text-center"></div>

                  <b-field
                    label="Email"
                    label-position="inside"
                    :type="messages.email && 'is-danger'"
                    :message="messages.email"
                  >
                    <b-input
                      :disabled="loading"
                      size="is-medium"
                      type="email"
                      v-model.trim="data.email"
                      name="email"
                    ></b-input>
                  </b-field>

                  <b-field
                    label="PIN"
                    label-position="inside"
                    :type="messages.password && 'is-danger'"
                    :message="messages.password"
                  >
                    <b-input
                      :disabled="loading"
                      size="is-medium"
                      type="password"
                      password-reveal
                      v-model.trim="data.password"
                      name="password"
                    ></b-input>
                  </b-field>
                  <div class="d-flex justify-content-between align-items-center">
                    <b-button
                      class="mt-4"
                      type="is-primary"
                      native-type="submit"
                      :loading="loading"
                    >Login</b-button>

                    <nuxt-link to="/reset">Forgot PIN?</nuxt-link>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>

    <b-modal
      :active.sync="isSelectionModalVisible"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      :can-cancel="false"
      @close="closeSelection"
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Choose which dashboard to go to.</p>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column cursor-pointer" @click="goto('/borrow/dashboard')">
              <div class="link card">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="name">Borrower</div>
              </div>
            </div>
            <div class="column cursor-pointer" @click="goto('/invest/dashboard')">
              <div class="link card">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="name">Investor</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </b-modal>

    <Footer />
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";
import { validateAll, validate } from "~/assets/utils";

export default {
  name: "Login",

  components: {
    Navbar,
    Footer
  },

  head () {
    return {
      title: 'Login'
    }
  },

  data() {
    return {
      user: {},
      data: {
        email: "",
        password: ""
      },
      messages: {},
      loading: false,
      isSelectionModalVisible: false
    };
  },

  methods: {
    handleInput({ target: { name: field, value } }) {
      this.messages = validate(field, value, this.messages);
      this.$forceUpdate();
    },
    submit() {
      const fields = ["email", "password"];
      const { data } = this;
      this.messages = validateAll(fields, data);
      if (!Object.keys(this.messages).length) this.login();
    },
    async login() {
      this.loading = true;
      try {
        const res = await this.$axios({
          method: "POST",
          url: "/user/authenticate_with_login",
          data: this.data
        });
        if (res.data.status) {
          this.user = { ...res.data.data, token: res.data.token };
          if (this.$store.getters["marketplace/investing"]) {
            this.checkInvest(this.user.profile.user_id);
          } else this.openSelection();
        } else {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-danger",
            position: "is-top"
          });
        }
        this.loading = false;
      } catch (e) {
        this.loading = false;
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "An error occurred",
          type: "is-danger",
          position: "is-top"
        });
      }
    },
    openSelection() {
      this.isSelectionModalVisible = true;
    },
    closeSelection() {
      this.isSelectionModalVisible = false;
    },
    goto(page) {
      if (this.user.token) localStorage.setItem("token", this.user.token);
      this.$store.commit("auth/SET", { key: "user", value: this.user });
      this.$store.commit("auth/SET", { key: "loggedIn", value: true });
      this.$store.commit("auth/SET", { key: "redirect", value: page });
    },
    checkInvest(user_id) {
      if (this.$store.getters["marketplace/current"])
        this.goto("/marketplace/details");
      else this.goto("/marketplace");
    }
  },

  middleware: "noauth"
};
</script>

<style lang="scss" scoped>
.link {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: none;
  }
  .icon {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .name {
    font-size: 1rem;
    color: #666;
  }
  @media (max-width: 768px) {
    &-1,
    &-2 {
      padding: 0;
    }
  }
}
</style>