<template>
  <main class="main">
    <Navbar />

    <div class="nav-margin">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
              <div class="card-content">
                <h4 class="title is-4">Reset PIN</h4>
                <p class="subtitle is-6 pt-2">Enter your email address to reset your PIN</p>
                <div class="mt-5">
                  <div class="title is-4 text-center"></div>

                  <div v-if="!codeSent">
                    <b-field label="Email" label-position="inside">
                      <b-input
                        :disabled="loading || sending"
                        size="is-medium"
                        type="email"
                        v-model.trim="email"
                      ></b-input>
                    </b-field>

                    <b-button
                      class="mt-4"
                      type="is-primary"
                      native-type="button"
                      :loading="sending"
                      @click="handleSubmit()"
                    >Send reset code</b-button>
                  </div>

                  <div v-else>
                    <b-field label="Email" label-position="inside">
                      <b-input disabled size="is-medium" type="email" v-model.trim="email"></b-input>
                    </b-field>

                    <b-field label="Code" label-position="inside">
                      <b-input
                        :disabled="loading || sending"
                        size="is-medium"
                        type="number"
                        v-model.trim="code"
                      ></b-input>
                    </b-field>

                    <b-field label="New PIN" label-position="inside">
                      <b-input
                        :disabled="loading || sending"
                        size="is-medium"
                        type="password"
                        password-reveal
                        v-model.trim="password"
                      ></b-input>
                    </b-field>

                    <div class="d-flex align-items-center justify-content-between">
                      <b-button
                        class="mt-4"
                        type="is-primary"
                        outlined
                        native-type="button"
                        :loading="sending"
                        @click="resendCode()"
                      >Resend code</b-button>
                      <b-button
                        class="mt-4"
                        type="is-primary"
                        native-type="submit"
                        :loading="loading"
                        :disabled="loading || sending"
                        @click="resetPassword()"
                      >Change PIN</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
    </div>
  </main>
  <!-- <a-row>
      <a-col :md="12" :sm="24">
        <a-card title="Reset password">
          <a-form :form="form" @submit="handleSubmit">
            <a-form-item label="E-mail">
              <a-input
                :disabled="loading || code || sending"
                v-decorator="[ 'email', { rules: [
                { type: 'email', message: 'The input is not valid E-mail!', }, 
                { required: true, message: 'Please input your E-mail!', }] }]"
                auto-focus
              />
            </a-form-item>

            <a-row>
              <a-col :md="12" :xs="24">
                <a-form-item label="Code" v-if="code" style="margin-right: 10px;">
                  <a-input-number
                    :disabled="loading || sending"
                    style="width: 100%;"
                    v-decorator="['code', { rules: [{required: true, message: 'Please enter code sent to the above email address!',}], }]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="12" :xs="24">
                <a-form-item label="New Password" v-if="code">
                  <a-input
                    :disabled="loading || sending"
                    v-decorator="['password', { rules: [{required: true, message: 'Please enter your new password!',}], }]"
                    type="password"
                  />
                </a-form-item>
              </a-col>
            </a-row>

            <a-row v-if="code" type="flex" justify="space-between">
              <a-form-item>
                <a-button @click="resendCode" :disabled="sending" :loading="sending">Resend code</a-button>
              </a-form-item>

              <a-form-item>
                <a-button
                  type="primary"
                  :disabled="loading || sending"
                  :loading="loading"
                  @click="resetPassword"
                >Reset password</a-button>
              </a-form-item>
            </a-row>

            <a-form-item v-else>
              <a-button
                html-type="submit"
                type="primary"
                :disabled="sending"
                :loading="sending"
              >Send reset code</a-button>
            </a-form-item>
          </a-form>
        </a-card>
      </a-col>
      <a-col :md="12" :sm="24"></a-col>
  </a-row>-->
</template>

<script>
import Navbar from "~/components/Navbar";
import Footer from "~/components/Footer";

export default {
  components: {
    Navbar,
    Footer
  },

  data() {
    return {
      sending: false,
      loading: false,
      codeSent: false,
      email: "",
      password: "",
      code: ""
    };
  },
  //   beforeCreate() {
  //     this.form = this.$form.createForm(this);
  //   },
  methods: {
    handleSubmit() {
      if (!this.email) return;
      this.sendCode(this.email);
    },

    resendCode() {
      this.sendCode(this.email);
    },

    async sendCode(email) {
      this.sending = true;
      const res = await this.$axios({
        method: "POST",
        url: "/changemypassword",
        data: { email }
      });
      if (res.data.status) {
        this.codeSent = true;
        this.sending = false;
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: res.data.message,
          type: "is-info",
          position: "is-top"
        });
      } else {
        this.sending = false;
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: res.data.message,
          type: "is-error",
          position: "is-top"
        });
      }
    },

    async resetPassword() {
      this.loading = true;

      const { email, code, password } = this;
      if (!email || !code || !password) return;

      const res = await this.$axios({
        method: "POST",
        url: "/accountcontroller/confirmpasswordchange",
        data: { email, token: code, password }
      });

      this.loading = false;
      if (res.data.status) {
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: res.data.message,
          type: "is-success",
          position: "is-top"
        });
        this.$router.push("/login");
      } else {
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: res.data.message,
          type: "is-danger",
          position: "is-top"
        });
      }
    }
  },
  middleware: "noauth"
};
</script>

<style>
</style>