<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Fund Wallet</p>
    </header>
    <section class="modal-card-body">
      <div class="d-flex flex-column align-items-center mt-5 mb-5">
        <div class="round-icon mb-4">
          <i class="fas fa-wallet"></i>
        </div>
        <b-field class="mb-3" label="Enter amount" label-position="inside">
          <b-input placeholder="Amount" type="number" v-model="amount" :disabled="network.loading"></b-input>
        </b-field>
        <Pay
          v-if="!done"
          text="Fund wallet"
          :amount="amount"
          :email="user.profile.email"
          @done="paystackDone($event)"
          :disabled="network.loading"
        />
        <button v-else class="button is-success" disabled>
          <i class="fas fa-check mr-2"></i> Wallet funded
        </button>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
    <b-loading :is-full-page="false" :active="network.loading"></b-loading>
  </div>
</template>

<script>
import Pay from "~/components/Pay";
import network from "~/mixins/network";

export default {
  name: "FundWallet",

  mixins: [network],

  components: { Pay },

  props: {
    initialAmount: {
      type: Number,
      required: true
    }
  },

  data() {
    return {
      amount: this.initialAmount,
      paystack: null,
      user: this.$store.state.auth.user,
      done: false
    };
  },

  methods: {
    paystackDone(paystack) {
      this.paystack = paystack;
      this.submit();
    },

    async submit() {
      if (!this.paystack)
        return this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Please fund your wallet to proceed!",
          type: "is-danger",
          position: "is-top"
        });
      const token = localStorage.getItem("token");
      try {
        const res = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/user/wallet/topup",
          data: { token, reference: this.paystack.reference }
        });
        if (res.data.status) this.success();
        else this.failure();
      } catch (error) {
        this.failure();
      }
    },

    success() {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message: "Wallet funded successfully",
        type: "is-success",
        position: "is-top"
      });
      this.$emit("done", this.paystack);
    },

    failure() {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message:
          "Sorry we could not fund your wallet due to an unknown error, please try again later. Any deposit made will be reversed. ",
        type: "is-error",
        position: "is-top"
      });
    }
  }
};
</script>
