<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Loan History</p>
    </header>
    <section class="modal-card-body">
      <b-table :data="data" :columns="columns" bordered></b-table>
      <div
        class="title is-6 mt-4 mb-4 text-muted text-center"
        v-if="!loading && !data.length"
      >
        Your history is empty
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close">
        Close
      </button>
    </footer>
    <b-loading
      v-if="loading"
      :is-full-page="false"
      :active="loading"
    ></b-loading>
  </div>
</template>

<script>

const columns = [
  {
    field: 'amount',
    label: 'Amount',
  },
  {
    field: 'repayment',
    label: 'Repayment',
  },
  {
    field: 'status',
    label: 'Status',
  },
];

export default {
  name: 'LoanHistory',

  data() {
    return {
      loading: false,
      data: [],
      columns
    };
  },

  methods: {
    async getLoans() {
      this.loading = true;
      const { user_id } = this.$store.state.auth.user.profile;
      const res = await this.$axios({
        method: "GET",
        url: `https://appfour.creditclan.com/api/v1/mobi/api/allLoans?USER_ID=${user_id}`
      });
      this.setData(res.data.data);
      this.loading = false;
    },
    setData(data) {
      this.data = data.reduce((table, loan, i) => {
        loan.IS_CLOSED === "1" &&
          table.push({
            key: i,
            amount: loan.REQUEST_PRINCIPAL,
            repayment: loan.TOTAL_REPAYMENT,
            status: "Closed"
          });
        return table;
      }, []);
    }
  },

  created() {
    this.getLoans();
  },
}
</script>