<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Profile</p>
    </header>
    <section class="modal-card-body">
      <b-tabs type="is-boxed">
        <b-tab-item label="Personal Information" icon="book"></b-tab-item>
        <b-tab-item label="Change password" icon="lock"></b-tab-item>
        <!-- <b-tab-item label="Settings" icon="settings"></b-tab-item> -->
      </b-tabs>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eveniet aliquid iste atque natus ducimus nam cum vel ipsam. Aperiam?
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close">Close</button>
    </footer>
    <b-loading v-if="loading" :is-full-page="false" :active="loading"></b-loading>
  </div>
</template>

<script>
export default {
  name: "Profile",

  data() {
    return {
      loading: false
    };
  },

  methods: {},

  created() {}
};
</script>