<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Transaction History</p>
    </header>
    <section class="modal-card-body">
      <b-table :data="data" :columns="columns" bordered></b-table>
      <div
        class="title is-6 mt-4 mb-4 text-muted text-center"
        v-if="!loading && !data.length"
      >Your transaction history is empty</div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close">Close</button>
    </footer>
    <b-loading v-if="loading" :is-full-page="false" :active="loading"></b-loading>
  </div>
</template>

<script>
import moment from "moment";

const columns = [
  {
    field: "date",
    label: "Date"
  },
  {
    field: "amount",
    label: "Amount"
  }
];

export default {
  name: "TransactionHistory",

  data() {
    return {
      loading: false,
      data: [],
      columns
    };
  },

  methods: {
    async getData() {
      this.loading = true;
      try {
        const token = localStorage.getItem("token");
        const res = await this.$axios({
          method: "POST",
          url: `https://mobile.creditclan.com/api/v3/user/wallet/transactions`,
          data: { token }
        });
        this.setData(res.data.transactions);
        this.loading = false;
      } catch (error) {
        this.loading = false;
      }
    },

    setData(data) {
      this.data = data.reduce((table, t, i) => {
        table.push({
          key: i,
          date: this.formatDate(t.TRANS_DATE),
          amount:
            t.ttype === "1"
              ? `- ₦${Number(t.debit).toFixed(2)}`
              : `+ ₦${Number(t.credit).toFixed(2)}`
        });
        return table;
      }, []);
    },

    formatDate(date) {
      return moment(date).format("MMM Do YYYY");
    }
  },

  created() {
    this.getData();
  }
};
</script>