<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Withdraw</p>
    </header>
    <section class="modal-card-body">
      <div class="d-flex flex-column align-items-center mt-5 mb-5">
        <div class="round-icon mb-4">
          <i class="fas fa-money-bill"></i>
        </div>
        <b-field class="mb-3" label="Enter amount" label-position="inside">
          <b-input placeholder="Amount" type="number" v-model="amount"></b-input>
        </b-field>
        <b-button type="primary" @click="submit()">
          <!-- <i class="fas fa-check mr-2"></i>  -->
          Withdraw
        </b-button>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
    <b-loading :is-full-page="false" :active="network.loading"></b-loading>
  </div>
</template>

<script>
import Pay from "~/components/Pay";
import network from "~/mixins/network";

export default {
  name: "Wallet",

  mixins: [network],

  components: { Pay },

  data() {
    return {
      user: this.$store.state.auth.user,
      done: false,
      amount: 0
    };
  },

  methods: {
    async submit() {
      if (!this.amount)
        return this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "Enter an amount!",
          type: "is-danger",
          position: "is-top"
        });
      this.network.loading = true;
      const token = localStorage.getItem("token");
      try {
        const res = await this.$axios({
          method: "POST",
          url: "https://mobile.creditclan.com/api/v3/user/wallet/withdraw",
          data: { token, amount: this.amount }
        });
        this.network.loading = false;
        if (res.data.status) this.success();
        else this.failure();
      } catch (error) {
        this.network.loading = false;
        this.failure();
      }
    },

    success() {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message:
          "Request successfull, your account will be credited once approved.",
        type: "is-success",
        position: "is-top"
      });
      this.amount = 0;
    },

    failure() {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message:
          "Sorry an unknown error occured, please try again after sometime.",
        type: "is-error",
        position: "is-top"
      });
    },

    insufficientFunds() {
      this.$buefy.snackbar.open({
        queue: false,
        duration: 5000,
        message: "Sorry, you dont have enough funds!",
        type: "is-error",
        position: "is-top"
      });
    }
  }
};
</script>
