<template>
  <main class="main">
    <Navbar />

    <div class="nav-margin">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 mt-5">
            <div class="mb-5">
              <b-progress
                :type="progress < 100 ? 'is-primary' : 'is-success'"
                :value="progress"
                size="is-small"
              ></b-progress>
            </div>
            <LoanAmount
              v-if="current === 0"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              :loading="loading"
              :settings="this.$store.state.application.settings"
              @done="next($event)"
            />
            <Profile
              v-if="current === 1"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Avatar
              v-if="current === 2"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Nok
              v-if="current === 3"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Income
              v-if="current === 4"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Account
              v-if="current === 5"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              @done="next($event)"
              @back="previous()"
            />
            <Card
              v-if="current === 6"
              :initialData="data"
              :isLoggedIn="isLoggedIn"
              :applying="applying"
              @done="submit($event)"
              @back="previous()"
            />
            <Finish v-if="current === 7" :initialData="data" />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Navbar from "~/components/Navbar";
import LoanAmount from "~/components/application/borrow/LoanAmount";
import Profile from "~/components/application/borrow/Profile";
import Avatar from "~/components/application/borrow/Avatar";
import Nok from "~/components/application/borrow/Nok";
import Income from "~/components/application/borrow/Income";
import Account from "~/components/application/borrow/Account";
import Card from "~/components/application/borrow/Card";
import Finish from "~/components/application/borrow/Finish";

export default {
  name: "Application",

  components: {
    Navbar,
    LoanAmount,
    Profile,
    Avatar,
    Nok,
    Account,
    Income,
    Card,
    Finish
  },

  computed: {
    progress() {
      return ((this.current + 1) / 8) * 100;
    }
  },

  head() {
    return {
      title: "Apply for Loan"
    };
  },

  data() {
    return {
      current: 0,
      data: JSON.parse(JSON.stringify(this.$store.getters["application/data"])),
      loading: false,
      applying: false,
      isLoggedIn: this.$store.state.auth
        ? this.$store.state.auth.loggedIn
        : false
    };
  },

  methods: {
    next(data) {
      if (data) this.data = data;
      this.current++;
    },
    previous() {
      this.current--;
    },
    async submit(data) {
      this.data = data;
      this.loading = true;
      if (
        await this.apply({
          ...this.data,
          amount: this.data.loan.amount,
          request_tenor: this.data.loan.duration,
          loan: null
        })
      )
        this.next();
      this.loading = false;
    },
    async apply(data) {
      const reapplying = this.$store.state.auth.loggedIn;
      this.applying = true;
      try {
        const res = await this.$axios({
          method: "POST",
          url: `loan/${reapplying ? "cashadvancereapply" : "cashadvanceapply"}`,
          data
        });
        if (res.data.status) {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message,
            type: "is-success",
            position: "is-top"
          });
          return true;
        } else {
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: res.data.message || res.data.error || "An error occurred",
            type: "is-success",
            position: "is-top"
          });
          this.applying = false;
          return false;
        }
      } catch (err) {
        this.applying = false;
        return false;
      }
    }
  },

  created() {}
};
</script>
