<template>
  <div>
    <BorrowerNavbar />
    <main class="main">
      <div class="nav-margin">
        <div class="container">
          <br />
          <br />

          <div class="columns">
            <div class="column is-two-fifths">
              <LoanDetails
                :loading="loading"
                :loan="loan"
                :cancelling="cancelling"
                :makingPayment="makingPayment"
                @apply="reapply()"
                @cancel="confirmCancel()"
                @pay="makePayment"
              />
            </div>

            <div class="column is-one-quarter">
              <div class="columns">
                <div class="column">
                  <BankAccount :account="user.account" />
                  <br />
                  <CreditCard
                    :card="{
                    last4: user.request.card && user.request.card.last4,
                    exp: user.request.card && user.request.card.expiry_date
                  }"
                    @add="addCard"
                  />
                </div>
              </div>
            </div>

            <div class="column is-one-fifths">
              <div class="columns">
                <div class="column">
                  <UserDetails :user="user" />
                </div>
              </div>

              <div class="columns">
                <div class="column cursor-pointer" @click="openHistory">
                  <div class="link card">
                    <div class="icon">
                      <i class="fa fa-history"></i>
                    </div>
                    <div class="name">Loan history</div>
                  </div>
                </div>

                <div class="column cursor-pointer" @click="reapply()">
                  <div class="link card">
                    <div class="icon">
                      <i class="fa fa-plus"></i>
                    </div>
                    <div class="name">Apply</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <b-modal
          :active.sync="isHistoryModalVisible"
          has-modal-card
          trap-focus
          aria-role="dialog"
          aria-modal
          @close="closeHistory"
        >
          <LoanHistory />
        </b-modal>

        <CardIframe
          @done="handleCardDone($event)"
          v-if="isCardIframeVisible"
          @close="closeCardIframe"
          :platform="cardIframeData.platform"
          :amount="cardIframeData.amount"
          :email="cardIframeData.email"
        />
      </div>
      <br />
      <br />
      <br />
      <br />
      <Footer />
    </main>

    <div v-if="!loading && error">
      <div class="title is-5">An error occured</div>
      <div
        class="subtitle is-5"
      >Sorry an errr occured while trying to load again, please click the button below to retry</div>
      <b-button type="is-danger" @click="getCurrentLoans()" class="mt-4">
        <i class="fa fa-refresh mr-2"></i> Retry
      </b-button>
    </div>
  </div>
</template>

<script>
import BorrowerNavbar from "~/components/dashboard/borrow/Navbar";
import Footer from "~/components/Footer";
import CreditCard from "~/components/CreditCard";
import BankAccount from "~/components/BankAccount";
import LoanDetails from "~/components/LoanDetails";
import UserDetails from "~/components/UserDetails";
import LoanHistory from "~/components/modals/LoanHistory";
import CardIframe from "~/components/CardIframe";

export default {
  name: "Dashboard",

  components: {
    BorrowerNavbar,
    Footer,
    CreditCard,
    BankAccount,
    LoanDetails,
    UserDetails,
    LoanHistory,
    CardIframe
  },

  data() {
    return {
      loading: false,
      error: false,
      loan: this.$store.getters["dashboard/loan"],
      user: this.$store.state.auth.user,
      isHistoryModalVisible: false,
      isCardIframeVisible: false,
      cancelling: false,
      makingPayment: false,
      cardIframeData: {
        platform: null,
        amount: null,
        email: null
      }
    };
  },

  methods: {
    async getCurrentLoans() {
      try {
        this.loading = true;
        this.error = false;
        const res = await this.$axios({
          method: "GET",
          url: `https://appfour.creditclan.com/api/v1/mobi/api/current_loans?USER_ID=${this.$store.state.auth.user.profile.user_id}`
        });
        const loan = res.data.data[0];
        this.$store.commit("dashboard/setLoan", loan);
        this.loading = false;
        this.loan = loan;
      } catch (error) {
        this.error = true;
      }
    },

    confirmCancel() {
      this.$buefy.dialog.confirm({
        message: "Are you sure you want to cancel this loan request?",
        onConfirm: () => this.cancel(),
        cancelText: "No",
        confirmText: "Yes",
        type: "is-error"
      });
    },

    async cancel() {
      const rid = this.loan.REQUEST_ID;
      const uid = this.user.profile.user_id;

      this.cancelling = true;
      const res = await this.$axios({
        method: "GET",
        url: `https://appfour.creditclan.com/api/v1/mobi/api/terminateLoan/${uid}/${rid}`
      });
      if (res.data.status) {
        this.cancelling = false;
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: res.data.message,
          type: "is-success",
          position: "is-top"
        });
        this.loan = null;
      } else {
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "An error occured, please try again",
          type: "is-danger",
          position: "is-top"
        });
      }
    },

    makePayment(useNewCard) {
      if (useNewCard) this.payWithNewCard();
      else this.payWithExistingCard();
    },

    payWithExistingCard() {
      if (!this.user.request && !this.user.request.card) return;
      this.makingPayment = true;
      const data = {
        email: this.user.profile.email,
        authorization_code: this.user.request.card.authorization_code,
        amount: this.loan.NEXT_PAYMENT_AMOUNT
      };
      const fd = new FormData();
      Object.keys(data).forEach(key => fd.append(key, data[key]));
      this.$axios({
        method: "POST",
        url: "http://app.creditclan.com/paycard/api/charge.php",
        data: fd
      })
        .then(res => {
          if (res.data.status) return this.handlePaymentResponse(res.data.data);
          this.makingPayment = false;
          this.$buefy.snackbar.open({
            queue: false,
            duration: 5000,
            message: "Unable to process payment. Please contact support",
            type: "is-danger",
            position: "is-top"
          });
        })
        .catch(err => {
          this.makingPayment = false;
          if (err.response)
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: err.response,
              type: "is-danger",
              position: "is-top"
            });
        });
    },

    payWithNewCard() {
      this.cardIframeData = {
        amount: this.loan.repayment.debts,
        platform: this.loan.PLATFORM_ID,
        email: this.$store.state.auth.user.profile.email
      };
      this.openCardIframe();
    },

    handlePaymentResponse(cardResponse, newCard) {
      var data = {
        USER_ID: this.user.profile.user_id,
        LOAN_ID: this.loan.REQUEST_ID,
        AMOUNT: cardResponse.amount / 100,
        TXN_REF: cardResponse.reference,
        RESPONSE_DATA: JSON.stringify(cardResponse)
      };
      const fd = new FormData();
      Object.keys(data).forEach(key => fd.append(key, data[key]));
      this.$axios({
        method: "POST",
        url: "https://appfour.creditclan.com/api/v1/mobi/api/loanPayment",
        data: fd
      })
        .then(res => {
          this.makingPayment = false;
          if (res.data.status) {
            if (newCard) this.addNewCard(cardResponse);
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: "Payment successful",
              type: "is-success",
              position: "is-top"
            });
          } else {
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message:
                "Payment could not be registered. Please contact support",
              type: "is-danger",
              position: "is-top"
            });
          }
        })
        .catch(err => {
          this.makingPayment = false;
          if (err.response)
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: err.response.data.message,
              type: "is-danger",
              position: "is-top"
            });
        });
    },

    openCardIframe() {
      this.isCardIframeVisible = true;
    },

    closeCardIframe() {
      this.isCardIframeVisible = false;
    },

    addCard() {
      this.cardIframeData = {
        platform: this.$store.state.application.lender.PLATFORM_ID,
        amount: this.$store.state.application.lender.CARD_REQUEST_FEE,
        email: this.$store.state.auth.user.profile.email
      };
      this.openCardIframe();
    },

    handleCardDone(cardResponse) {
      if (
        this.cardIframeData.amount ===
        this.$store.state.apply.lender.CARD_REQUEST_FEE
      ) {
        this.addNewCard(cardResponse);
      } else {
        this.handlePaymentResponse(cardResponse, true);
      }
    },

    addNewCard(cardResponse) {
      this.loading = true;
      const data = {
        USER_ID: this.user.profile.user_id,
        RECORD_TYPE: 2,
        IS_EDIT: 0,
        CARD_NO: cardResponse.authorization.last4,
        CARD_EXPIRY: `${cardResponse.authorization.exp_month}/${cardResponse.authorization.exp_year}`,
        IS_DEFAULT: 1,
        PAYSTACK_AUTHORIZATION_CODE:
          cardResponse.authorization.authorization_code,
        PAYSTACK_CHECK_ID: JSON.stringify(cardResponse)
      };
      const fd = new FormData();
      Object.keys(data).forEach(key => fd.append(key, data[key]));
      this.$axios({
        method: "POST",
        url:
          "https://appfour.creditclan.com/api/v1/mobi/api/updateBankAccountAndCardDetails",
        data: fd
      })
        .then(res => {
          this.loading = false;
          if (res.data.status) {
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: "Card added successfully!",
              type: "is-success",
              position: "is-top"
            });
            this.refresh();
          } else {
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: "Unable to save Card. Please try again",
              type: "is-danger",
              position: "is-top"
            });
          }
        })
        .catch(err => {
          this.loading = false;
          if (err.response)
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: err.response.data.message,
              type: "is-danger",
              position: "is-top"
            });
        });
    },

    refresh() {
      this.loading = true;
      this.$axios({
        method: "POST",
        url: "accountcontroller/user_details",
        data: { user_id: this.user.profile.user_id }
      })
        .then(res => {
          this.loading = false;
          if (res.data.status) {
            this.$store.commit("auth/SET", {
              key: "user",
              value: res.data.data
            });
          } else {
            this.$buefy.snackbar.open({
              queue: false,
              duration: 5000,
              message: "Unable to fetch user details",
              type: "is-danger",
              position: "is-top"
            });
          }
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
        });
    },

    openHistory() {
      this.isHistoryModalVisible = true;
    },

    closeHistory() {
      this.isHistoryModalVisible = false;
    },

    reapply() {
      if (this.loan)
        this.$buefy.snackbar.open({
          queue: false,
          duration: 5000,
          message: "You already have an active loan",
          type: "is-danger",
          position: "is-top"
        });
      else {
        const { user } = this.$store.state.auth;
        const data = {};
        const {
          profile,
          account,
          request,
          next_of_kin,
          home_address,
          work,
          add_new_card
        } = user;
        data.avatar = profile.file_name;
        data.profile = {
          email: profile.email,
          fullname: profile.full_name,
          phone: profile.phone,
          state: home_address.state_id,
          address: home_address.address,
          dob:
            profile.date_of_birth !== "//"
              ? new Date(profile.date_of_birth)
              : null
        };
        data.account = {
          name: account.account_name,
          number: account.account_no,
          bank: account.id,
          bvn: account.bvn
        };
        data.nok = {
          fullname: next_of_kin.full_name,
          email: next_of_kin.email,
          phone: next_of_kin.phone,
          address: next_of_kin.address,
          relationship: next_of_kin.relationship
        };
        data.income = {
          occupation: work.occupation_id,
          net_monthly_income: work.monthly_income,
          sector: work.work_sector,
          address: work.address
        };
        if (request.card && request.card.account_card_id) {
          data.card = request.card;
        }
        if (add_new_card) data.card = {};
        this.$store.commit("application/setData", {
          loan: {
            tenor_type: 3
          },
          ...data,
          user_id: profile.user_id
        });
        this.$router.push("/borrow/apply");
      }
    }
  },

  created() {
    if (!this.loan) this.getCurrentLoans();
  },

  middleware: "authenticated"
};
</script>

<style lang="scss" scoped>
.link {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  &::before,
  &::after {
    content: none;
  }
  .icon {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .name {
    font-size: 1rem;
    color: #666;
  }
  @media (max-width: 768px) {
    &-1,
    &-2 {
      padding: 0;
    }
  }
}
</style>