<template>
  <main class="main">
    <Navbar />

    <section class="hero-area other-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="hero-text">
              <h1>Personal Loans</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <a @click="select(10000)">
              <div class="services-item amount card">
                <div class="si-text card-body">
                  <h3>₦10,000</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services-item amount card">
              <div class="si-text card-body">
                <h3>₦20,000</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services-item amount card">
              <div class="si-text card-body">
                <h3>₦30,000</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'Personal',

  components: {
    Navbar
  },

  methods: {
    select(amount) {
      this.$store.commit("application/updateData", { loan: { amount, duration: 0 } });
      this.$router.push('/apply');
    },
  }
}
</script>
